@font-face {
  font-family: UTMAvo;
  src: url("../fonts/UTM Avo.ttf") format("truetype");
}

@font-face {
  font-family: UTMAvoB;
  src: url("../fonts/UTM AvoBold.ttf") format("truetype");
}

@font-face {
  font-family: UTMAvoBI;
  src: url("../fonts/UTM AvoItalic.ttf") format("truetype");
}

@font-face {
  font-family: UTMAvoI;
  src: url("../fonts/UTM AvoBold_Italic.ttf") format("truetype");
}

@font-face {
  font-family: UTMTimes;
  src: url("../fonts/UTM Times.ttf") format("truetype");
}

@font-face {
  font-family: MyriadRegular;
  src: url("../fonts/myriadpro-regular-webfont.ttf") format("truetype");
}

@font-face {
  font-family: Trajan;
  src: url("../fonts/UTMTrajanProBold.ttf") format("truetype");
}

body {
  font-family: UTMTimes, sans-serif;
}

header, section {
  display: inline-block;
  clear: none;
  width: 100%;
  float: left;
  position: relative;
}

header {
  background: #d72031;
  width: 100%;
  display: inline-block;
}

header .logo {
  width: 20%;
  display: inline-block;
  text-align: center;
  float: left;
  padding-top: 15px;
  padding-bottom: 15px;
}

header .logo img {
  height: 61px;
  object-fit: cover;
  object-position: center;
}

header nav {
  width: 60%;
  display: inline-flex;
  float: left;
  align-items: center;
  min-height: 91px;
}

header nav ul {
  width: 90%;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
  text-align: center;
}

header nav ul li {
  display: inline-block;
  padding: 5px 15px;
}

header nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-family: MyriadRegular, sans-serif;
  font-size: 16px;
  position: relative;
}

header nav ul li a#menu-hotline img {
  max-height: 25px;
  width: auto;
}

header nav ul li a#menu-hotline::after {
  content: "";
  position: absolute;
  width: 90%;
  height: 1px;
  background: #fff;
  left: 10%;
  bottom: 0;
}

#top {
  background: url("../images/back-top-left.png") top left/20% 100% no-repeat, url("../images/back-top-right.png") top right/20% 100% no-repeat, url("../images/back-top.png") center/cover no-repeat;
  display: flex;
  justify-content: center;
}

#top .top-wrap {
  width: 60%;
  text-align: center;
  margin-top: -2px;
  z-index: 0;
  position: relative;
}

#top .top-wrap .title img {
  width: 80%;
  padding-top: 35px;
}

#top .top-wrap .desc {
  padding-top: 10px;
  padding-bottom: 45px;
}

#top .top-wrap .desc span {
  display: block;
  color: #fff;
  font-size: 18px;
}

#top .top-wrap .top__uu-dai-wrap {
  display: flex;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#top .top-wrap .top__uu-dai-wrap .left {
  width: 50%;
}

#top .top-wrap .top__uu-dai-wrap .left .top__uu-dai-01-top {
  color: #fff;
  font-size: 18px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

#top .top-wrap .top__uu-dai-wrap .left .top__uu-dai-01-bottom {
  font-size: 24px;
  color: #ffde8e;
  padding-top: 5px;
  padding-bottom: 30px;
  text-transform: uppercase;
}

#top .top-wrap .top__uu-dai-wrap .left .top__uu-dai-01-mid img {
  width: 45%;
}

#top .top-wrap .top__uu-dai-wrap .left .top__uu-dai-02-top {
  color: #fff;
  font-size: 18px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

#top .top-wrap .top__uu-dai-wrap .left .top__uu-dai-02-top span {
  font-size: 22px;
}

#top .top-wrap .top__uu-dai-wrap .left .top__uu-dai-02-top span:nth-child(2n+1) {
  font-size: 18px;
  display: block;
}

#top .top-wrap .top__uu-dai-wrap .right {
  width: 50%;
}

#top .top-wrap .top__uu-dai-wrap .right .top__uu-dai-3-top {
  color: #fff;
  font-size: 18px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

#top .top-wrap .top__uu-dai-wrap .right .top__uu-dai-3-top span {
  display: block;
}

#kim-cuong-vien {
  background: url("../images/back-kim-cuong-vien.png") center/cover no-repeat;
}

#kim-cuong-vien .kim-cuong-vien__title {
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
}

#kim-cuong-vien .kim-cuong-vien__title img {
  width: 42%;
}

#kim-cuong-vien .kim-cuong-vien__mid {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: flex-end;
}

#kim-cuong-vien .kim-cuong-vien__mid .kiem-dinh {
  width: 25%;
  display: inline-grid;
  text-align: center;
  padding-top: 45px;
}

#kim-cuong-vien .kim-cuong-vien__mid .kiem-dinh img {
  width: 100%;
}

#kim-cuong-vien .kim-cuong-vien__mid .kiem-dinh .read-more a {
  background: #fff;
  color: #202254;
}

#kim-cuong-vien .kim-cuong-vien__mid .kiem-dinh .read-more a .arrow-left {
  border-left: 10px solid #202254;
}

#kim-cuong-vien .kim-cuong-vien__mid .uu-dai {
  width: 30%;
  text-align: center;
  color: #fff;
  font-family: UTMTimes, sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  padding-bottom: 15px;
}

#kim-cuong-vien .kim-cuong-vien__mid .uu-dai .img {
  width: 100%;
}

#kim-cuong-vien .kim-cuong-vien__mid .uu-dai .img img {
  width: 50%;
}

#kim-cuong-vien .kim-cuong-vien__mid .uu-dai span {
  display: block;
  padding-bottom: 20px;
  font-size: 3.2rem;
}

#kim-cuong-vien .kim-cuong-vien__bottom {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
  color: #fff;
  font-family: UTMTimes, sans-serif;
  font-size: 20px;
  padding-bottom: 25px;
  text-transform: uppercase;
}

#trang-suc-kim-cuong {
  background: url("../images/back-trang-suc-kim-cuong.png") center/cover no-repeat;
  display: flex;
  justify-content: center;
}

#trang-suc-kim-cuong .trang-suc-kim-cuong__content {
  width: 40%;
  text-align: center;
  color: #fff;
  margin-right: 20px;
}

#trang-suc-kim-cuong .trang-suc-kim-cuong__content .title {
  padding-top: 30px;
}

#trang-suc-kim-cuong .trang-suc-kim-cuong__content .title img {
  width: 80%;
}

#trang-suc-kim-cuong .trang-suc-kim-cuong__content .text-01 {
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
}

#trang-suc-kim-cuong .trang-suc-kim-cuong__content .line img {
  width: 100%;
}

#trang-suc-kim-cuong .trang-suc-kim-cuong__content .text-02 {
  font-size: 18px;
  text-align: center;
}

#trang-suc-kim-cuong .trang-suc-kim-cuong__content .uu-dai {
  padding-bottom: 25px;
  font-size: 4.4rem;
}

#trang-suc-kim-cuong .trang-suc-kim-cuong__content .uu-dai span {
  color: #eec6ae;
}

#trang-suc-kim-cuong .trang-suc-kim-cuong__content .read-more {
  padding-bottom: 40px;
}

#trang-suc-kim-cuong .trang-suc-kim-cuong__content .read-more a {
  background: #fff;
  color: #202254;
}

#trang-suc-kim-cuong .trang-suc-kim-cuong__content .read-more a span {
  border-left: 10px solid #202254;
}

#trang-suc-kim-cuong > img {
  position: absolute;
  z-index: 0;
}

#trang-suc-kim-cuong > img.img-nhan {
  top: 20px;
  width: 25%;
  right: 11%;
}

#trang-suc-kim-cuong > img.img-hoatai {
  bottom: 40px;
  width: 17%;
  right: 24%;
}

#trang-suc-kim-cuong > img.img-day {
  bottom: 30px;
  right: 0;
  width: 20%;
}

#nhan-cuoi {
  display: flex;
  color: #ff8800;
  font-family: Trajan, sans-serif;
  font-size: 1.8rem;
}

#nhan-cuoi .left {
  width: 48%;
  background: url("../images/ruya-bang.png") 50% 90%/contain no-repeat, url("../images/back-nhan-cuoi-1.png") center/cover no-repeat;
  text-align: center;
}

#nhan-cuoi .left img {
  width: 80%;
}

#nhan-cuoi .left .text {
  position: relative;
  z-index: 1;
}

#nhan-cuoi .left > div:nth-child(1) {
  padding-top: 30px;
}

#nhan-cuoi .left > div:nth-child(3) {
  padding-top: 10px;
  padding-bottom: 10px;
}

#nhan-cuoi .left > div:nth-child(3) img {
  width: 50%;
}

#nhan-cuoi .left .nhan-dinh-hon img {
  position: relative;
  z-index: 0;
}

#nhan-cuoi .right {
  width: 52%;
  background: url("../images/back-nhan-cuoi-2.png") center/cover no-repeat;
  text-align: center;
  position: relative;
}

#nhan-cuoi .right img {
  width: 100%;
  position: relative;
  z-index: 1;
}

#nhan-cuoi .right .text {
  position: relative;
  z-index: 1;
}

#nhan-cuoi .right > div:nth-child(1) {
  padding-top: 40px;
}

#nhan-cuoi .right .dang-ky-voucher {
  background: #4fc1b6;
  color: #fff;
  text-transform: uppercase;
  padding-top: 30px;
  padding-bottom: 30px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 0;
  font-size: 18px;
}

#nhan-cuoi .right .dang-ky-voucher a {
  margin-left: 20px;
  color: #fff;
  background: #ff8800;
  padding: 3px 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  font-family: MyriadRegular, sans-serif;
  display: inline-flex;
  align-items: center;
}

#nhan-cuoi .read-more {
  position: relative;
  z-index: 1;
}

#nhan-cuoi .read-more a {
  background: #ff8800;
  color: #fff;
}

#uu-dai {
  display: flex;
  flex-wrap: wrap;
}

#uu-dai .da-mau, #uu-dai .gioi-tre, #uu-dai .y-han-quoc {
  width: calc(100% / 3);
  text-align: center;
}

#uu-dai .da-mau {
  background: url("../images/back-uu-dai-1.png") center/cover no-repeat;
  color: #fff;
}

#uu-dai .da-mau .text {
  text-transform: uppercase;
  font-family: Trajan, sans-serif;
  font-size: 16px;
  padding-top: 50px;
}

#uu-dai .da-mau a {
  color: #fff;
  text-decoration: none;
}

#uu-dai .da-mau > img {
  width: 80%;
}

#uu-dai .da-mau > img:nth-child(5n+4) {
  float: left;
}

#uu-dai .da-mau > img:nth-child(5n+5) {
  float: right;
}

#uu-dai .gioi-tre {
  background: url("../images/back-uu-dai-2.png") center/cover no-repeat;
  padding-bottom: 15px;
}

#uu-dai .gioi-tre .text img {
  width: 75%;
}

#uu-dai .gioi-tre .uu-dai {
  color: #f4a81a;
  position: relative;
}

#uu-dai .gioi-tre .uu-dai span {
  line-height: 0;
}

#uu-dai .gioi-tre .img {
  position: relative;
  overflow: hidden;
}

#uu-dai .gioi-tre .img img:nth-child(3n+1) {
  width: 85%;
  position: relative;
  z-index: 1;
  right: -90px;
}

#uu-dai .gioi-tre .img img:nth-child(3n+2) {
  width: 50%;
  position: absolute;
  top: 0;
  left: 10px;
  z-index: 2;
}

#uu-dai .gioi-tre .img img:nth-child(3n+3) {
  width: 55%;
  position: absolute;
  left: 10px;
  bottom: 0;
  z-index: 2;
}

#uu-dai .gioi-tre .read-more {
  position: relative;
  z-index: 4;
}

#uu-dai .gioi-tre .read-more a {
  background: #ff8800;
  color: #fff;
}

#uu-dai .y-han-quoc {
  background: url("../images/back-uu-dai-3.jpg") center/cover no-repeat;
  position: relative;
  z-index: 2;
}

#uu-dai .y-han-quoc .text {
  text-transform: uppercase;
  font-family: Trajan, sans-serif;
  font-size: 16px;
  padding-top: 75px;
  color: #202254;
}

#uu-dai .y-han-quoc .img {
  position: relative;
  padding-top: 65px;
}

#uu-dai .y-han-quoc .img img {
  float: left;
  display: inline-block;
}

#uu-dai .y-han-quoc .img img:nth-child(4n+1) {
  width: 40%;
}

#uu-dai .y-han-quoc .img img:nth-child(4n+2) {
  width: 60%;
}

#uu-dai .y-han-quoc .img img:nth-child(4n+3) {
  width: 45%;
  position: relative;
  top: -30px;
}

#uu-dai .y-han-quoc .img img:nth-child(4n+4) {
  width: 55%;
}

#uu-dai .y-han-quoc .read-more {
  position: relative;
  z-index: 1;
  display: none;
}

#uu-dai .y-han-quoc .read-more a {
  background: #202254;
  color: #fff;
}

#trang-suc-vang {
  display: flex;
  background: url("../images/back-trang-suc-vang-9999.png") center/cover no-repeat;
  color: #ff8800;
  padding-bottom: 25px;
  position: relative;
}

#trang-suc-vang .left {
  width: 50%;
  display: flex;
  padding-left: 20px;
  padding-right: 40px;
  position: relative;
}

#trang-suc-vang .left > .img {
  width: 50%;
  text-align: right;
}

#trang-suc-vang .left > .img img {
  width: 70%;
}

#trang-suc-vang .left > .content {
  width: 50%;
}

#trang-suc-vang .left > .content .img {
  text-align: center;
  padding-top: 20px;
}

#trang-suc-vang .left > .content .img img {
  width: 70%;
}

#trang-suc-vang .left > .content .text {
  text-transform: uppercase;
  font-family: Trajan, sans-serif;
  font-size: 16px;
}

#trang-suc-vang .left > .content .uu-dai span {
  line-height: 1;
}

#trang-suc-vang .left > .content .uu-dai span:nth-child(3n+3) {
  text-transform: uppercase;
  font-family: Trajan, sans-serif;
  font-size: 16px;
  float: right;
}

#trang-suc-vang .left .read-more {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 15px;
}

#trang-suc-vang .left .read-more a {
  background: #ff8800;
  color: #fff;
  text-decoration: none;
}

#trang-suc-vang .left::after {
  content: "";
  position: absolute;
  width: 1px;
  top: 15%;
  height: 80%;
  background: #fff;
  right: 0;
  opacity: 0.6;
}

#trang-suc-vang .right {
  width: 50%;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
}

#trang-suc-vang .right > .img {
  width: 50%;
  display: flex;
  align-items: flex-end;
}

#trang-suc-vang .right > .img img {
  width: 100%;
  position: relative;
  left: -55px;
}

#trang-suc-vang .right > .content {
  width: 50%;
  text-align: center;
  padding-top: 80px;
}

#trang-suc-vang .right > .content .text {
  text-transform: uppercase;
  font-family: Trajan, sans-serif;
  font-size: 1.6rem;
}

#trang-suc-vang .right > .content .text:nth-child(2) {
  font-size: 2rem;
}

#trang-suc-vang .right > .content .text.white {
  color: #fff;
  font-size: 1.2rem;
}

#trang-suc-vang .right .read-more {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 15px;
}

#trang-suc-vang .right .read-more a {
  background: #ff8800;
  color: #fff;
  text-decoration: none;
}

#qua-tang {
  background: url("../images/back-qua-tang.png") center/cover no-repeat;
  margin-bottom: 3px;
}

#qua-tang .qua-tang__title {
  width: 100%;
  text-align: center;
  color: #d72031;
  font-size: 16px;
  padding-top: 30px;
}

#qua-tang .img {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 45px;
}

#qua-tang .img img {
  display: inline-block;
  float: left;
  position: relative;
}

#qua-tang .img img:nth-child(2n+1) {
  width: calc(100% * 847 / 1533);
}

#qua-tang .img img:nth-child(2n+2) {
  width: calc(100% * 686 / 1533);
  left: -90px;
}

#tin-tuc {
  text-align: center;
  margin-bottom: 15px;
}

#tin-tuc .tin-tuc__title {
  width: 48%;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  color: #d72031;
  font-family: UTMTimes, sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  position: relative;
  padding-top: 20px;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

#tin-tuc .tin-tuc__title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
  margin-top: -11px;
  background: url("../images/line.png") center/100% no-repeat;
}

#tin-tuc .tin-tuc__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 40%;
  width: 20%;
  height: 1px;
  background: #d72031;
}

#tin-tuc .tin-tuc__list {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}

#tin-tuc .tin-tuc__list .item {
  width: calc(100% / 3 - 4px);
  float: left;
  display: inline-block;
  margin-right: 6px;
  background: #e7e7e7;
}

#tin-tuc .tin-tuc__list .item:nth-child(3n+3) {
  margin-right: 0;
}

#tin-tuc .tin-tuc__list .item:hover {
  color: #d72031;
}

#tin-tuc .tin-tuc__list .item:hover a {
  color: #d72031 !important;
}

#tin-tuc .tin-tuc__list .item .item-image a img {
  width: 100%;
}

#tin-tuc .tin-tuc__list .item .item-title {
  padding-top: 7px;
  padding-bottom: 15px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: justify;
  text-align-last: left;
}

#tin-tuc .tin-tuc__list .item .item-title a {
  text-transform: none;
  color: #020000;
  font-family: MyriadRegular, sans-serif;
  font-size: 1.6rem;
}

#tin-tuc .tin-tuc__list .item .item-title a:hover {
  color: #d72031;
}

#map {
  float: none;
}

#footer {
  float: left;
  width: 100%;
  text-align: center;
}

#footer .social {
  margin: 50px 0 70px;
  display: inline-flex;
  justify-content: center;
  width: 100%;
  align-items: flex-end;
}

#footer .socialimage {
  display: inline-block;
  width: 7%;
}

#footer .socialline {
  display: inline-block;
  border-bottom: 1px solid #db2031;
  width: 15%;
}

#footer .socialimage img {
  height: 40px;
}

#footer .textfooter {
  text-align: center;
  background: #da2031;
  color: white;
  margin: 15px 0 0;
}

#footer .textfooter_1 {
  width: 100%;
  font: 20px MyriadRegular, sans-serif;
  padding: 15px 0;
}

#footer .textfooter_2 {
  width: 100%;
  display: inline-block;
}

#footer .textfooter_2 .textfooter_2_1 {
  display: inline-block;
  text-align: left;
  font: 14px MyriadRegular, sans-serif;
  margin: 0 30px;
  line-height: 45px;
}

#footer .textfooter_2 .textfooter_2_1 img {
  height: 30px;
  display: inline-block;
  vertical-align: top;
}

#footer .textfooter_2 .textfooter_2_1 div {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

#footer .textfooter_2 .textfooter_2_2 {
  display: inline-block;
  font: 18px MyriadRegular, sans-serif;
  margin: 22px 40px;
  vertical-align: top;
}

#footer .textfooter_2 .textfooter_2_line {
  height: 60px;
  margin: 10px 0 0;
  border-right: 1px solid #fff;
  display: inline-block;
  vertical-align: top;
}

.uu-dai {
  font-size: 3.0rem;
}

.uu-dai span {
  font-size: 5.8rem;
}

.uu-dai span span {
  font-size: 4.4rem;
}

.read-more a {
  display: inline-flex;
  align-items: center;
  padding: 2px 7px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: MyriadRegular, sans-serif;
  font-size: 14px;
}

.menu-icon {
  display: none;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

#clock222 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  min-height: 91px;
  background: #010c2e;
  color: #c10002;
  font-family: MyriadRegular, sans-serif;
}

#clock222 .col-rig {
  width: 90%;
}

#clock222 .col-rig-01 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
}

#clock222 #clock {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#clock222 #clock .clock-part {
  text-align: center;
  flex: 1;
  position: relative;
}

#clock222 #clock .clock-part::after {
  content: "";
  position: absolute;
  right: -9px;
  top: 15%;
  height: 55%;
  width: 17px;
  background: url("../images/slash.png") center/100% no-repeat;
}

#clock222 #clock .clock-part:nth-child(4n+4)::after {
  display: none;
}

#clock222 #clock .clock-part span {
  display: block;
}

#clock222 #clock .clock-part span:nth-child(2n+1) {
  font-family: UTMTimes, sans-serif;
  font-size: 3rem;
}

#clock222 #clock .clock-part span:nth-child(2n+2) {
  font-size: 1rem;
  text-transform: uppercase;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 10px solid white;
  display: inline-block;
  margin-left: 5px;
  top: -1px;
  position: relative;
}

.mobile {
  display: none;
}

.desktop {
  display: block;
}

.desktop-f {
  display: flex;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

@media only screen and (max-width: 767px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  .desktop-f {
    display: none;
  }
}

@media only screen and (max-width: 768px) and (min-width: 767px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  .desktop-f {
    display: none;
  }
  #clock222 #clock {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  #clock222 #clock .clock-part {
    text-align: center;
    flex: 1;
    position: relative;
  }
  #clock222 #clock .clock-part::after {
    content: "";
    position: absolute;
    right: -9px;
    top: 17%;
    height: 35%;
    width: 17px;
    background: url("../images/slash.png") center/100% no-repeat;
  }
  #clock222 #clock .clock-part span:nth-child(2n+1) {
    font-size: 2rem;
  }
  .uu-dai span {
    font-size: 3.8rem;
  }
  #trang-suc-vang .left {
    display: inline-block;
  }
  #trang-suc-vang .left > .img {
    width: 100%;
    text-align: center;
  }
  #trang-suc-vang .left > .content {
    width: 100%;
    text-align: center;
    float: none;
  }
  #trang-suc-vang .left > .content .uu-dai span:nth-child(3n+3) {
    float: none;
  }
  #trang-suc-vang .right {
    display: inline-block;
  }
  #trang-suc-vang .right > .img {
    width: 100%;
  }
  #trang-suc-vang .right > .img img {
    left: 0;
    padding-top: 20px;
  }
  #trang-suc-vang .right > .content {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .menu-icon {
    display: inline-block;
  }
  #menu {
    display: none;
  }
  header .logo {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
  header nav {
    display: inline-block;
    min-height: inherit;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  header nav ul {
    text-align: left;
  }
  header nav ul li {
    display: block;
  }
  #clock222 {
    width: 100%;
  }
  #clock222 #clock {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  #clock222 #clock .clock-part {
    text-align: center;
    flex: 1;
    position: relative;
  }
  #clock222 #clock .clock-part::after {
    content: "";
    position: absolute;
    right: -9px;
    top: 15%;
    height: 55%;
    width: 17px;
    background: url("../images/slash.png") center/100% no-repeat;
  }
  #clock222 #clock .clock-part span:nth-child(2n+1) {
    font-size: 3rem;
  }
  #top {
    background: url("../images/back-top.png") center/cover no-repeat;
  }
  #top .top-wrap {
    width: 90%;
  }
  #top .top-wrap .title img {
    width: 100%;
  }
  #top .top-wrap .top__uu-dai-wrap {
    width: 100%;
    display: inline-block;
  }
  #top .top-wrap .top__uu-dai-wrap .left, #top .top-wrap .top__uu-dai-wrap .right {
    width: 100%;
  }
  #kim-cuong-vien {
    background: url("../images/kim-cuong-vien--back-mb.jpg") center/cover no-repeat;
  }
  #kim-cuong-vien .kim-cuong-vien__title {
    padding-bottom: 20px;
  }
  #kim-cuong-vien .kim-cuong-vien__title img {
    width: 90%;
  }
  #kim-cuong-vien .kim-cuong-vien__mid {
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
  }
  #kim-cuong-vien .kim-cuong-vien__mid .vienkc img {
    width: 100%;
  }
  #kim-cuong-vien .kim-cuong-vien__mid .kiem-dinh {
    width: 100%;
    text-align: center;
    padding-top: 0;
    padding-bottom: 20px;
  }
  #kim-cuong-vien .kim-cuong-vien__mid .kiem-dinh img {
    padding-bottom: 15px;
  }
  #kim-cuong-vien .kim-cuong-vien__mid .uu-dai {
    width: 100%;
  }
  #kim-cuong-vien .kim-cuong-vien__mid .uu-dai span {
    font-size: 3.2rem;
  }
  #kim-cuong-vien .kim-cuong-vien__bottom {
    text-align: center;
  }
  #trang-suc-kim-cuong {
    background: #202254;
    display: block;
    overflow: hidden;
  }
  #trang-suc-kim-cuong > img.img-nhan {
    width: 80% !important;
    right: -17% !important;
    position: relative !important;
  }
  #trang-suc-kim-cuong > img.img-hoatai {
    width: 50% !important;
    bottom: 12% !important;
    right: inherit !important;
    left: 0 !important;
  }
  #trang-suc-kim-cuong > img.img-day {
    width: 70% !important;
    margin-right: 0 !important;
    margin-left: 30% !important;
    bottom: 0 !important;
    position: relative !important;
  }
  #trang-suc-kim-cuong .trang-suc-kim-cuong__mau-mobile img {
    width: 100%;
  }
  #trang-suc-kim-cuong .trang-suc-kim-cuong__content {
    width: 100%;
    margin-right: 0;
    margin-top: -50px;
  }
  #trang-suc-kim-cuong .trang-suc-kim-cuong__content .read-more {
    padding-bottom: 15px !important;
  }
  #trang-suc-kim-cuong .trang-suc-kim-cuong__content .title {
    padding-top: 0;
  }
  #nhan-cuoi {
    display: inline-block;
  }
  #nhan-cuoi .left, #nhan-cuoi .right {
    width: 100%;
  }
  #nhan-cuoi .right {
    padding-bottom: 110px;
  }
  #nhan-cuoi .right .dang-ky-voucher {
    font-size: 1.4rem;
  }
  #nhan-cuoi .right .dang-ky-voucher span {
    display: block;
    margin-bottom: 10px;
    top: 3px;
  }
  #uu-dai .da-mau, #uu-dai .gioi-tre, #uu-dai .y-han-quoc {
    width: 100%;
  }
  #trang-suc-vang .left, #trang-suc-vang .right {
    width: 100%;
  }
  #trang-suc-vang {
    display: inline-block;
  }
  #trang-suc-vang .left {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
  }
  #trang-suc-vang .left > .img {
    width: 100%;
    text-align: center;
  }
  #trang-suc-vang .left > .content {
    width: 100%;
    text-align: center;
    float: none;
  }
  #trang-suc-vang .left > .content .uu-dai span:nth-child(3n+3) {
    float: none;
  }
  #trang-suc-vang .right {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
  }
  #trang-suc-vang .right > .img {
    width: 100%;
  }
  #trang-suc-vang .right > .img img {
    left: 0;
    padding-top: 20px;
  }
  #trang-suc-vang .right > .content {
    width: 100%;
  }
  #qua-tang .img {
    width: 100%;
    display: inline-block;
    padding-left: 0;
  }
  #qua-tang .img img {
    width: 100% !important;
    left: 0 !important;
  }
  #tin-tuc .tin-tuc__title {
    width: 90%;
  }
  #tin-tuc .tin-tuc__title::after {
    left: 35%;
    width: 30%;
  }
  #tin-tuc .tin-tuc__list .item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
  #footer .socialimage {
    width: auto !important;
  }
  #footer .textfooter_2 {
    text-align: center;
  }
  #footer .textfooter_2 .textfooter_2_1 {
    line-height: 1.4;
    text-align: center;
  }
  #footer .textfooter_2 .textfooter_2_1 div {
    padding-bottom: 15px;
  }
  #footer .textfooter_2 .textfooter_2_line {
    display: none;
  }
  #map iframe {
    height: calc(100vw * 1366 / 1920) !important;
  }
}
