@media only screen and (max-width: 768px) and (min-width: 767px) {
  nav ul li a {
    padding: 5px 7px;
  }
  #banner .text-top-wrap .text-top .line {
    display: none;
  }
  #banner .text-bottom-wrap .text-bottom {
    margin: 30px auto 35px 10%;
  }
  .uu-dai .outer .left {
    width: 100%;
  }
  .uu-dai .outer .right {
    width: 100%;
    justify-content: center;
  }
  .uu-dai .outer .right img {
    width: 50%;
  }
  .kim-cuong-vien .outer .text-wrap {
    padding-bottom: 0;
  }
  .kim-cuong-vien .outer .left {
    width: 100%;
  }
  .kim-cuong-vien .outer .right {
    width: 100%;
  }
  .nhan-cuoi .nhan-cuoi-fix {
    display: none;
  }
  .nhan-cuoi .outer .nhan-cuoi-wrap {
    flex-wrap: wrap;
  }
  .nhan-cuoi .outer .nhan-cuoi-wrap .left {
    width: 100%;
  }
  .nhan-cuoi .outer .nhan-cuoi-wrap .right {
    width: 100%;
  }
  .nhan-cuoi .outer .nhan-cuoi-wrap .right .title {
    font-size: 5rem;
  }
  .nhan-cuoi .outer .nhan-cuoi-wrap .right .desc {
    margin-top: 15px;
  }
  .wedding-land .outer {
    width: 100%;
  }
  .wedding-land .content-wrap .left {
    width: 100%;
  }
  .wedding-land .content-wrap .left .title {
    font-size: 2.6rem;
  }
  .wedding-land .content-wrap .left .desc {
    font-size: 2rem;
  }
  .wedding-land .content-wrap .right {
    width: 100%;
  }
  .wedding-land .content-wrap .right img {
    width: 100%;
  }
  footer {
    line-height: 1.8;
  }
  footer #footer .textfooter_2 .textfooter_2_line {
    border-right: 0;
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .desktop {
    display: none !important;
  }
  .desktop-fle {
    display: none !important;
  }
  .desktop-inl {
    display: none !important;
  }
  .mobile {
    display: block !important;
  }
  .mobile-fle {
    display: flex !important;
  }
  .mobile-inl {
    display: inline-block !important;
  }
  .readmore {
    float: left !important;
  }
  nav ul {
    position: fixed;
    top: 100vh;
    left: 0;
    z-index: 99;
    height: 100vh;
    width: 100%;
    background: #c01f31;
    transition: 0.5s;
    text-align: center;
    padding-top: 70px;
    transition: 0.8s;
    -moz-transition: 0.8s;
    -webkit-transition: 0.8s;
  }
  nav ul.show-menu {
    display: block;
    top: 0;
  }
  nav ul li {
    width: 100%;
  }
  nav ul li a {
    padding: 15px 5px;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    width: 100%;
    font-size: 1.8rem;
  }
  #banner {
    background: url("../images/banner-back-2-mb.jpg") bottom/contain no-repeat, #c82e2e;
    padding-bottom: 250px;
  }
  #banner .text-top-wrap .text-top .tdvbdqdoji {
    display: block;
  }
  #banner .text-top-wrap .text-top .tdvbdqdoji span {
    width: 100%;
    justify-content: center;
  }
  #banner .text-top-wrap .text-top .line {
    padding-bottom: 0;
  }
  #banner .text-bottom-wrap .text-bottom {
    width: 90%;
    margin: 0 5%;
  }
  .text {
    position: relative;
  }
  .video {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .video .outer .video-ytb {
    width: 100%;
  }
  .video .outer .text {
    width: 100%;
    text-align: left;
  }
  .video .outer .text .content {
    text-align-last: auto;
  }
  .uu-dai .outer .left {
    width: 100%;
  }
  .uu-dai .outer .left .item {
    flex-wrap: wrap;
  }
  .uu-dai .outer .left .item::after {
    width: 90%;
  }
  .uu-dai .outer .left .item > .sub-item {
    flex-wrap: wrap;
  }
  .uu-dai .outer .left .item > .sub-item + span {
    padding-left: 0;
  }
  .uu-dai .outer .left .item .text {
    width: 40%;
    left: 22px;
  }
  .uu-dai .outer .left .item .percent {
    width: 40%;
  }
  .uu-dai .outer .right {
    width: 100%;
  }
  .kim-cuong-vien .outer .text-wrap {
    padding-bottom: 0;
  }
  .kim-cuong-vien .outer .left {
    width: 100%;
  }
  .kim-cuong-vien .outer .right {
    width: 100%;
  }
  .nhan-cuoi .nhan-cuoi-fix {
    display: none;
  }
  .nhan-cuoi .outer .nhan-cuoi-wrap {
    flex-wrap: wrap;
  }
  .nhan-cuoi .outer .nhan-cuoi-wrap .left {
    width: 100%;
  }
  .nhan-cuoi .outer .nhan-cuoi-wrap .right {
    width: 100%;
  }
  .nhan-cuoi .outer .nhan-cuoi-wrap .right .title {
    font-size: 4.2rem;
  }
  .nhan-cuoi .outer .nhan-cuoi-wrap .right .desc {
    margin-top: 15px;
  }
  .wedding-land .outer {
    width: 100%;
  }
  .wedding-land .content-wrap .left {
    width: 100%;
  }
  .wedding-land .content-wrap .left .title {
    font-size: 2.6rem;
  }
  .wedding-land .content-wrap .left .desc {
    font-size: 2rem;
  }
  .wedding-land .content-wrap .right {
    width: 100%;
  }
  .wedding-land .content-wrap .right img {
    width: 100%;
  }
  .qua-tang .qua-tang-wrap .sub-title {
    margin-bottom: 0;
  }
  .qua-tang .qua-tang-wrap .wrap .giai-thuong {
    width: 100%;
  }
  .qua-tang .qua-tang-wrap .wrap .giai-thuong .item {
    width: 75%;
  }
  .qua-tang .qua-tang-wrap .line img {
    width: 80%;
  }
  .qua-tang .qua-tang-wrap .text-wrap .text.left {
    width: 100%;
    margin-bottom: 20px;
  }
  .qua-tang .qua-tang-wrap .text-wrap .text.right {
    width: 100%;
  }
  .qua-tang .qua-tang-wrap .text-wrap .text .wrap {
    flex-wrap: wrap;
  }
  .qua-tang .qua-tang-wrap .text-wrap .text .wrap .item {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .qua-tang .qua-tang-wrap .text-wrap .text .wrap .item .image img {
    width: 45%;
  }
  #map iframe {
    height: calc(100vw * 1280 / 1920) !important;
  }
  .fb-like {
    position: absolute !important;
    right: 55px;
    bottom: auto;
    z-index: 9;
  }
  footer {
    text-align: center;
    line-height: 1.8;
  }
  footer #footer .textfooter_2 .textfooter_2_line {
    border-right: 0;
    display: none;
  }
  footer #footer .textfooter_2 .textfooter_2_1 {
    line-height: 1.8;
  }
  footer #footer .textfooter_2 .textfooter_2_2 {
    width: 100%;
    margin: 0;
    padding: 5px;
  }
  .scroll-down {
    top: -100px;
    right: -5px;
  }
}

@media only screen and (max-width: 360px) {
  #banner {
    padding-bottom: 230px;
  }
}
