@media only screen and (max-width: 1920px) and (min-width: 1601px) {
  .text-banner .text-banner-line-1,
  .text-banner .text-banner-line-3,
  .text-banner .text-banner-line-4 {
    font-size: 2rem;
  }
  .don-rong .y-nghia .left .text {
    font-size: 1.8rem;
  }
  .don-rong .y-nghia .right .text {
    font-size: 1.8rem;
  }
  .don-rong .y-nghia .bottom .text {
    font-size: 1.8rem;
  }
  .ep-vi .dac-diem > span > span {
    font-size: 2.4rem;
  }
  .ep-vi .text-wrap .text {
    font-size: 1.8rem;
  }
  .ts-vang .content-wrap .right {
    font-size: 1.8rem;
  }
  .ts-vang .content-wrap .left .text span {
    font-size: 1.8rem;
  }
  .ts-vang-preview .text {
    font-size: 1.8rem;
  }
  .cau_doi {
    max-width: 180px;
  }
  .cau_doi.left {
    left: 98px;
  }
  .cau_doi.right {
    right: 98px;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .cau_doi.left {
    left: 45px;
  }
  .cau_doi.right {
    right: 45px;
  }
  .text-banner .text-banner-line-1 img {
    width: 55%;
  }
  .text-banner .text-banner-line-2 img {
    width: 35%;
  }
  .text-banner .text-banner-line-3 img {
    width: 35%;
  }
  .text-banner .text-banner-line-4 {
    margin-top: 3%;
  }
}

@media only screen and (max-width: 1024px) {
  nav ul {
    position: fixed;
    top: 100vh;
    left: 0;
    z-index: 99;
    height: 100vh;
    width: 100%;
    background: #da2031;
    transition: 0.5s;
    text-align: center;
    padding-top: 90px;
    transition: 0.8s;
    -moz-transition: 0.8s;
    -webkit-transition: 0.8s;
  }
  nav ul.show-menu {
    display: block;
    top: 0;
  }
  nav ul li {
    width: 100%;
  }
  nav ul li a {
    padding: 15px 5px;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    width: 100%;
    font-size: 1.8rem;
  }
  nav ul .logo {
    display: inline-block !important;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    max-width: 100% !important;
  }
  nav ul .close {
    display: block !important;
  }
  .menu-button {
    display: inline-block !important;
  }
}

@media only screen and (max-width: 768px) and (min-width: 767px) {
  nav ul li a {
    padding: 5px 7px;
  }
  footer {
    line-height: 1.8;
  }
  .cau_doi.left {
    left: 30px;
  }
  .cau_doi.right {
    right: 30px;
  }
  .banner-top {
    padding-top: 0;
    height: 80vh;
    object-fit: cover;
  }
  .text-banner .text-banner-line-1 img {
    width: 75%;
  }
  .text-banner .text-banner-line-2 img {
    width: 45%;
  }
  .text-banner .text-banner-line-3 img {
    width: 55%;
  }
  .text-banner .text-banner-line-4 {
    margin-left: 50%;
    margin-top: 5%;
  }
  .don-rong,
  .ep-vi,
  .ts-vang {
    width: 90%;
  }
}

@media only screen and (max-width: 767px) {
  .desktop {
    display: none !important;
  }
  .desktop-fle {
    display: none !important;
  }
  .desktop-inl {
    display: none !important;
  }
  .mobile {
    display: block !important;
  }
  .mobile-fle {
    display: flex !important;
  }
  .mobile-inl {
    display: inline-block !important;
  }
  .readmore {
    float: left !important;
  }
  .patten-left,
  .patten-right {
    display: none;
  }
  #banner {
    display: block;
  }
  #banner .banner-top {
    order: 2;
    -ms-order: 2;
    -webkit-order: 2;
    height: auto;
  }
  #banner .banner-wrap {
    position: relative;
    order: 1;
    -ms-order: 1;
    -webkit-order: 1;
  }
  #banner .banner-wrap .text-banner {
    width: 90%;
  }
  #banner .banner-wrap .text-banner .text-banner-line-1 img {
    width: 100%;
  }
  #banner .banner-wrap .text-banner .text-banner-line-2 img {
    width: 60%;
  }
  #banner .banner-wrap .text-banner .text-banner-line-3 img {
    width: 70%;
  }
  #banner .banner-wrap .text-banner .text-banner-line-4 {
    margin-left: 0;
    margin-top: 0;
  }
  .don-rong {
    width: 90%;
  }
  .don-rong .title {
    font-size: 4rem;
  }
  .don-rong .title span {
    line-height: 0;
    display: block;
  }
  .don-rong .description {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1.4rem;
  }
  .don-rong .y-nghia .left,
  .don-rong .y-nghia .right {
    width: 100%;
    padding: 0;
  }
  .don-rong .y-nghia .bottom .image,
  .don-rong .y-nghia .bottom .text {
    width: 100%;
    padding: 5px 0;
  }
  .ep-vi {
    width: 90%;
    padding-bottom: 25px;
  }
  .ep-vi .title {
    font-size: 4rem;
  }
  .ep-vi .trong-luong {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .ep-vi .trong-luong span {
    font-size: 1.6rem;
  }
  .ep-vi .dac-diem {
    width: 100%;
  }
  .ep-vi .text-wrap {
    padding-top: 5px;
  }
  .ep-vi .text-wrap .image,
  .ep-vi .text-wrap .text {
    width: 100%;
  }
  .wave-yellow {
    margin-top: 0;
  }
  .line {
    display: none;
  }
  .ts-vang {
    width: 90%;
  }
  .ts-vang .title img {
    width: 100%;
  }
  .ts-vang .content-wrap .left,
  .ts-vang .content-wrap .right {
    width: 100%;
    padding: 5px 0;
  }
  .ts-vang-preview {
    background: url("../images/avpl-13.png") bottom/170% no-repeat, url("../images/avpl-12.jpg") center/cover no-repeat;
  }
  .ts-vang-preview .text {
    right: 5%;
    width: 90%;
  }
  .fb-like {
    position: absolute !important;
    right: 55px;
    bottom: auto;
    z-index: 9;
  }
  footer {
    text-align: center;
    line-height: 1.8;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  footer .text {
    font-size: 1.6rem;
  }
  footer .btn-footer {
    margin-top: 10px;
  }
  footer .btn-footer > div {
    padding: 5px 13px;
    margin: 5px 15px;
  }
  .scroll-down {
    top: -100px;
    right: -5px;
  }
}
