@font-face {
  font-family: Centur;
  src: url("../fonts/UTM Centur.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: CenturBold;
  src: url("../fonts/UTM CenturBold.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Aptima;
  src: url("../fonts/UTM Aptima.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: Aptima;
  src: url("../fonts/UTM AptimaBold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: Aptima;
  src: url("../fonts/UTM AptimaBoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: Aptima;
  src: url("../fonts/UTM AptimaItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: Avo;
  src: url("../fonts/UTM Avo.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: Avo;
  src: url("../fonts/UTM AvoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: Avo;
  src: url("../fonts/UTM AvoBold_Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: Avo;
  src: url("../fonts/UTM AvoItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: UTMTimes;
  src: url("../fonts/UTM Times.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: Trajan;
  src: url("../fonts/UTMTrajanProBold.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Belle;
  src: url("../fonts/SFUBELLEREGULAR_0.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: Ongdo;
  src: url("../fonts/UTM Ong Do Gia.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: Swiss;
  src: url("../fonts/UTM Swiss Condensed.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: Doji;
  src: url("../fonts/DojiGodWordR.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: MyriadRegular;
  src: url("../fonts/myriadpro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/myriadpro-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

html {
  background-color: transparent;
}

body {
  font-family: MyriadRegular, sans-serif;
  font-size: 1.6rem;
  background: url("../images/patten-back.png"), #900000;
  background-size: 70px;
}

section {
  width: 100%;
  float: left;
  line-height: 1.8;
  position: relative;
}

.outer {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.readmore {
  text-transform: uppercase;
  display: inline-block;
  float: right;
  color: #E31D3A;
  font-size: 1.2rem;
  margin-left: 3px;
}

.readmore:hover {
  color: #F9C358 !important;
}

.wrap {
  position: relative;
}

#scrollTop {
  background: url("../images/ico-totop.png") no-repeat center center, #F9C358;
  z-index: 9999;
  line-height: 0;
  font-size: 0;
  color: transparent;
}

.menu-button {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  right: 15px;
}

.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 4px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.desktop {
  display: block;
}

.desktop-fle {
  display: flex;
}

.desktop-inl {
  display: inline-block;
}

.mobile {
  display: none;
}

.mobile-fle {
  display: none;
}

.mobile-inl {
  display: none;
}

a {
  transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
}

.arrow {
  border: solid #E31D3A;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  position: relative;
}

.arrow.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.arrow.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.arrow.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.arrow.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.fb-like {
  position: absolute !important;
  right: 20px;
  z-index: 999;
  opacity: 1;
}

.banner-top {
  width: 100%;
}

.patten-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 15%;
  height: auto;
}

.patten-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 15%;
  height: auto;
}

.banner-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

#main {
  display: inline-block;
  width: 100%;
}

nav {
  width: 100%;
  justify-content: center;
  position: relative;
  top: 0;
  transition: 1s;
  -moz-transition: 1s;
  -webkit-transition: 1s;
}

nav .main-nav-wrap {
  padding-bottom: 0;
}

nav ul {
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  float: left;
  display: inline-block;
  position: relative;
}

nav ul li:after {
  content: "";
  width: 1px;
  height: 40%;
  top: 30%;
  right: 0;
  background: #F9C358;
  position: absolute;
}

nav ul li:nth-child(3n+3):after {
  display: none;
}

nav ul li a {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #F9C358;
  text-decoration: none;
  padding: 7px 15px;
}

nav ul li a.active {
  color: #fff;
}

nav ul li a:hover {
  color: #fff;
}

nav ul .close {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 9999999;
  width: 20px;
  height: 20px;
  color: #fff;
  opacity: 1 !important;
}

nav.mfixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  background: #da2031;
  border-bottom: 1px solid #fff79e;
}

nav.mfixed .logo {
  max-width: 110px;
  padding-top: 10px;
  line-height: 0;
}

nav.mfixed .logo img {
  width: 100%;
}

nav.mfixed .main-nav-wrap {
  display: flex;
  padding-bottom: 0;
}

nav.mfixed ul li a {
  padding: 7px 35px;
}

.text-banner {
  position: relative;
  display: inline-block;
  width: 50%;
  text-align: center;
}

.text-banner .text-banner-line-1 {
  font-family: Trajan, sans-serif;
  font-size: 1.6rem;
  color: #fff;
  letter-spacing: 1px;
  padding-bottom: 10px;
}

.text-banner .text-banner-line-1 img {
  width: 60%;
}

.text-banner .text-banner-line-2 img {
  width: 40%;
}

.text-banner .text-banner-line-3 {
  font-family: Doji, sans-serif;
  font-size: 1.6rem;
  color: #fff;
  letter-spacing: 1px;
}

.text-banner .text-banner-line-3 img {
  width: 40%;
}

.text-banner .text-banner-line-4 {
  position: relative;
  margin-left: 60%;
  margin-top: 15%;
  display: inline-block;
  color: #fff;
  font-size: 1.6rem;
  letter-spacing: 1px;
}

.logo {
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

.logo img {
  max-width: 180px;
}

.wave-yellow {
  width: 100%;
  margin-top: -35px;
}

.don-rong {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

.don-rong .title {
  font-family: Ongdo, sans-serif;
  font-size: 6rem;
  color: #F9C358;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.4;
}

.don-rong .description {
  font-family: Swiss, sans-serif;
  font-size: 1.8rem;
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.4;
  padding-bottom: 10px;
}

.don-rong .y-nghia {
  display: flex;
  flex-wrap: wrap;
}

.don-rong .y-nghia .left {
  width: 50%;
  float: left;
  padding: 0 5px;
}

.don-rong .y-nghia .left .image img {
  width: 100%;
}

.don-rong .y-nghia .left .text {
  text-align: justify;
  text-align-last: center;
  color: #fff;
  font-family: MyriadRegular, sans-serif;
  font-size: 1.4rem;
  padding: 10px 20px;
}

.don-rong .y-nghia .left .text p {
  line-height: 1.6;
}

.don-rong .y-nghia .right {
  width: 50%;
  float: left;
  padding: 0 5px;
}

.don-rong .y-nghia .right .image img {
  width: 100%;
}

.don-rong .y-nghia .right .text {
  text-align: justify;
  text-align-last: center;
  color: #fff;
  font-family: MyriadRegular, sans-serif;
  font-size: 1.4rem;
  padding: 10px 20px;
}

.don-rong .y-nghia .right .text p {
  line-height: 1.6;
}

.don-rong .y-nghia .bottom {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
}

.don-rong .y-nghia .bottom .image {
  width: 55%;
  padding-right: 5px;
}

.don-rong .y-nghia .bottom .image img {
  width: 100%;
}

.don-rong .y-nghia .bottom .text {
  width: 40%;
  text-align: justify;
  text-align-last: left;
  color: #fff;
  font-family: MyriadRegular, sans-serif;
  font-size: 1.4rem;
  padding: 70px 20px 10px;
  display: flex;
  align-items: flex-start;
}

.don-rong .y-nghia .bottom .text p {
  line-height: 1.6;
}

.ep-vi {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 115px;
}

.ep-vi .title {
  font-family: Ongdo, sans-serif;
  font-size: 6rem;
  color: #F9C358;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.4;
}

.ep-vi .trong-luong {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

.ep-vi .trong-luong span {
  flex: 1;
  text-align: center;
  font-family: Swiss, sans-serif;
  font-size: 2.4rem;
  color: #F9C358;
  position: relative;
}

.ep-vi .trong-luong span:after {
  content: "";
  position: absolute;
  right: 0;
  top: 35%;
  height: 45%;
  width: 1px;
  background: #F9C358;
  opacity: 0.8;
}

.ep-vi .trong-luong span:nth-child(4n+4):after {
  display: none;
}

.ep-vi .description {
  font-family: Swiss, sans-serif;
  font-size: 1.8rem;
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.4;
  padding-bottom: 10px;
}

.ep-vi .dac-diem {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15px;
}

.ep-vi .dac-diem > span {
  text-align: center;
  padding: 0 35px;
}

.ep-vi .dac-diem > span > span {
  font-family: Doji, sans-serif;
  font-size: 2rem;
  color: #fff;
  position: relative;
  display: flex;
  align-items: center;
}

.ep-vi .dac-diem > span > span:before {
  content: "";
  position: absolute;
  left: -25px;
  height: 19px;
  width: 19px;
  background: url("../images/tick.png") center/cover no-repeat;
  display: flex;
  align-items: center;
}

.ep-vi .text-wrap {
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
}

.ep-vi .text-wrap .text {
  width: 40%;
  color: #fff;
}

.ep-vi .text-wrap .text p {
  line-height: 1.6;
}

.ep-vi .text-wrap .image {
  width: 60%;
}

.ep-vi .text-wrap .image img {
  width: 100%;
}

.wave-spark {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.line {
  width: 65%;
  margin-left: 17.5%;
  margin-right: 17.5%;
  position: absolute;
  top: -55px;
}

.ts-vang {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

.ts-vang .title {
  text-align: center;
  padding-top: 30px;
}

.ts-vang .title img {
  width: 50%;
}

.ts-vang .content-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.ts-vang .content-wrap .left {
  width: 50%;
  padding-right: 5px;
}

.ts-vang .content-wrap .left .image img {
  width: 100%;
}

.ts-vang .content-wrap .left .text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.ts-vang .content-wrap .left .text span {
  padding: 0 10px;
  display: inline-block;
  font-family: Swiss, sans-serif;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #F9C358;
}

.ts-vang .content-wrap .right {
  width: 40%;
  padding-left: 5px;
  color: #fff;
  text-align: justify;
}

.ts-vang .content-wrap .right p {
  line-height: 1.8;
  letter-spacing: 1px;
  font-family: Swiss, sans-serif;
}

.ts-vang-preview {
  min-height: 450px;
  border-bottom: 2px solid #FFF79E;
  background: url("../images/avpl-13.png") bottom/100% no-repeat, url("../images/avpl-12.jpg") 50% 40%/cover no-repeat;
  background-attachment: fixed;
  position: relative;
}

.ts-vang-preview .text {
  position: absolute;
  bottom: 20px;
  right: 20%;
  width: 42%;
  color: #fff;
  font-size: 1.6rem;
  font-family: Swiss, sans-serif;
  text-align: justify;
}

.scroll-down {
  animation: scrollD 1.4s linear infinite;
  max-width: 20px;
  position: absolute;
  top: 0;
  right: -30px;
  cursor: pointer;
}

@keyframes scrollD {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(20px);
  }
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #000000;
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

.view-all {
  width: 100%;
  text-align: center;
  padding: 5px;
}

.view-all a {
  color: #900000;
  text-transform: uppercase;
}

.view-all a:hover {
  color: #F9C358 !important;
}

footer {
  display: inline-block;
  width: 100%;
  padding: 50px 0 70px;
  text-align: center;
}

footer .text {
  text-transform: uppercase;
  color: #FFF79E;
  line-height: 1.4;
  font-family: Swiss, sans-serif;
  font-size: 1.8rem;
}

footer .btn-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

footer .btn-footer > div {
  display: inline-block;
  padding: 7px 15px;
  background: #FFF79E;
  margin: 0 15px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

footer .btn-footer > div a {
  color: #E31D3A;
  text-transform: uppercase;
  text-decoration: none;
}

footer .btn-footer > div a:visited {
  color: #E31D3A;
}

footer .btn-footer > div a:focus {
  color: #E31D3A;
}

.cau_doi {
  display: none;
  position: absolute;
  top: 0;
  max-width: 120px;
  z-index: 10;
}

.cau_doi.left {
  left: 73px;
}

.cau_doi.right {
  right: 73px;
}
