@media only screen and (max-width: 768px) and (min-width: 767px) {
  nav ul li a {
    padding: 5px 7px;
  }
  .khoanh-khac .outer .wrap .text {
    text-align: left;
  }
  .khoanh-khac .outer .wrap .text .title {
    font-size: 1.6rem;
  }
  .khoanh-khac .outer .wrap .text .title b {
    display: block;
    font-size: 1.8rem;
    white-space: nowrap;
  }
  .loving-heart > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
  }
  .loving-heart .text {
    width: 45%;
    right: 0;
    position: relative;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .loving-heart .text .wrap {
    background: rgba(107, 39, 140, 0.7);
  }
  .san-pham .listing .wrap #listing-by-json {
    width: 49%;
  }
  .san-pham .listing .wrap #listing-by-json .item {
    width: 50%;
  }
  .san-pham .listing .wrap #listing-by-json .item:nth-child(2n+2)::before {
    display: none;
  }
  .san-pham .listing .wrap .banner {
    width: 50%;
  }
  footer {
    line-height: 1.8;
  }
}

@media only screen and (max-width: 767px) {
  .desktop {
    display: none !important;
  }
  .desktop-fle {
    display: none !important;
  }
  .desktop-inl {
    display: none !important;
  }
  .mobile {
    display: block !important;
  }
  .mobile-fle {
    display: flex !important;
  }
  .mobile-inl {
    display: inline-block !important;
  }
  .readmore {
    float: left !important;
  }
  nav ul {
    position: fixed;
    top: 100vh;
    left: 0;
    z-index: 99;
    height: 100vh;
    width: 100%;
    background: #6b278c;
    transition: 0.5s;
    text-align: center;
    padding-top: 70px;
    transition: 0.8s;
    -moz-transition: 0.8s;
    -webkit-transition: 0.8s;
  }
  nav ul.show-menu {
    display: block;
    top: 0;
  }
  nav ul li {
    width: 100%;
  }
  nav ul li a {
    padding: 15px 5px;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    width: 100%;
    font-size: 1.8rem;
  }
  .text {
    position: relative;
  }
  .title::before {
    display: none;
  }
  .about {
    width: 90%;
  }
  .about .title img {
    width: 100%;
  }
  .khoanh-khac .outer .wrap .image {
    width: 100%;
  }
  .khoanh-khac .outer .wrap .text {
    width: 100%;
    text-align-last: auto;
  }
  .khoanh-khac .outer .wrap .text .title {
    word-spacing: 0;
    letter-spacing: normal;
  }
  .khoanh-khac .outer .wrap .text .title b {
    font-size: 1.8rem;
    display: block;
  }
  .khoanh-khac .outer .wrap .text .content {
    width: 100%;
  }
  .che-tac {
    margin-top: 0;
    background: #fafafa;
  }
  .che-tac .text {
    margin-top: 0;
    width: 90%;
    margin-right: auto;
  }
  .video {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .video .outer .video-ytb {
    width: 100%;
  }
  .video .outer .text {
    width: 100%;
    text-align: left;
  }
  .video .outer .text .content {
    text-align-last: auto;
  }
  .loving-heart .text {
    margin-right: 0;
    width: 100%;
    right: 0;
  }
  .loving-heart .text .wrap {
    display: inline-block;
  }
  .san-pham .taxo .item {
    width: 100%;
  }
  .fb-like {
    position: absolute !important;
    right: 55px;
    bottom: auto;
    z-index: 9;
  }
  .san-pham .listing .wrap #listing-by-json {
    width: 100%;
    margin-right: 0;
  }
  .san-pham .listing .wrap #listing-by-json .item {
    width: 50%;
  }
  .san-pham .listing .wrap #listing-by-json .item:nth-child(2n+2)::before {
    display: none;
  }
  .san-pham .listing .wrap .banner {
    width: 100%;
  }
  footer {
    text-align: center;
    line-height: 1.8;
  }
  .scroll-down {
    right: -5px;
  }
}
