@media only screen and (max-width: 1920px) and (min-width: 1601px) {
  nav ul li a {
    font-size: 1.6rem;
  }
  .text-banner .text-banner-line-1,
  .text-banner .text-banner-line-3,
  .text-banner .text-banner-line-4 {
    font-size: 2rem;
  }
  .don-rong .y-nghia .left .text {
    font-size: 1.8rem;
  }
  .don-rong .y-nghia .right .text {
    font-size: 1.8rem;
  }
  .don-rong .y-nghia .bottom .text {
    font-size: 1.8rem;
  }
  .ep-vi .dac-diem > span > span {
    font-size: 2.4rem;
  }
  .ep-vi .text-wrap .text {
    font-size: 1.8rem;
  }
  .ts-vang .content-wrap .right {
    font-size: 1.8rem;
  }
  .ts-vang .content-wrap .left .text span {
    font-size: 1.8rem;
  }
  .ts-vang-preview .text {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 1920px) {
  nav ul li a {
    font-size: 1.6rem;
  }
  #product .item {
    align-items: flex-start;
    max-height: 80vh;
  }
  #product .item .part {
    height: 80vh;
    min-height: 80vh;
  }
}

@media only screen and (max-width: 1366px) {
  body {
    font-size: 1.4rem;
  }
  .title {
    font-size: 3.8rem;
    text-align: center;
  }
  .subtitle {
    font-size: 2rem;
    text-align: center;
  }
  .excerpt {
    font-size: 2rem;
    text-align: center;
  }
  .text {
    font-size: 1.4rem;
  }
  .banner-wrap {
    padding-bottom: 0;
  }
  nav ul li a {
    font-size: 1.2rem;
  }
  #product .item {
    align-items: flex-start;
    max-height: 80vh;
  }
  #product .item .part {
    height: 80vh;
    min-height: 80vh;
  }
  #bst-rays-of-light {
    background: rgba(0, 0, 0, 0.1);
  }
  #bst-rays-of-light .item .part:nth-child(2n+1) {
    padding-bottom: 0 !important;
  }
  #bst-rays-of-light .item .part:nth-child(2n+2) .item-banner img {
    transform: scale(1);
  }
  footer {
    padding: 20px 0;
  }
  footer div {
    font-size: 1.8rem;
  }
  #uu-dai .uu-dai-wrap {
    width: 80%;
  }
  #uu-dai-fix {
    top: 50px;
    max-width: 100px;
  }
  .left-ele {
    left: -85px !important;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .text-banner .text-banner-line-1 img {
    width: 55%;
  }
  .text-banner .text-banner-line-2 img {
    width: 35%;
  }
  .text-banner .text-banner-line-3 img {
    width: 35%;
  }
  .text-banner .text-banner-line-4 {
    margin-top: 3%;
  }
}

@media only screen and (max-width: 1024px) {
  nav.mfixed .logo img {
    max-width: 110px !important;
  }
  nav .logo {
    max-width: 110px;
  }
  nav .logo img {
    max-width: 100%;
  }
  nav ul {
    position: fixed;
    top: 100vh;
    left: 0;
    z-index: 99;
    height: 100vh;
    width: 100%;
    background: #fff;
    transition: 0.5s;
    text-align: center;
    padding-top: 90px;
    transition: 0.8s;
    -moz-transition: 0.8s;
    -webkit-transition: 0.8s;
  }
  nav ul.show-menu {
    display: block;
    top: 0;
  }
  nav ul li {
    width: 100%;
  }
  nav ul li::after {
    display: none;
  }
  nav ul li a {
    padding: 15px 5px;
    color: #000;
    text-transform: uppercase;
    display: inline-block;
    width: 100%;
    font-size: 1.3rem;
  }
  nav ul .logo {
    display: inline-block !important;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    max-width: 100% !important;
  }
  nav ul .close {
    display: block !important;
  }
  #banner .banner-wrap {
    padding-bottom: 0;
  }
  .banner-wrap {
    position: relative;
  }
  .menu-button {
    display: inline-block !important;
  }
  .title {
    font-size: 2.8rem;
  }
  #uu-dai-fix {
    top: 0;
    max-width: 100px;
  }
}

@media only screen and (max-width: 768px) {
  .desktop {
    display: none !important;
  }
  .desktop-fle {
    display: none !important;
  }
  .desktop-inl {
    display: none !important;
  }
  .mobile {
    display: block !important;
  }
  .mobile-fle {
    display: flex !important;
  }
  .mobile-inl {
    display: inline-block !important;
  }
  #product .item {
    max-height: inherit;
  }
  #product .item .part {
    height: auto;
    min-height: auto;
  }
  #product .item .part:nth-child(2n+1) .listing-product .product-item {
    width: calc(50% - 10px);
    margin-left: 0;
    margin-right: 20px;
  }
  #product .item .part:nth-child(2n+1) .listing-product .product-item:nth-child(2n+2) {
    margin-right: 0;
  }
  #product .item .part:nth-child(2n+2) {
    padding-bottom: 20px !important;
  }
  #product .item .part:nth-child(2n+2) img {
    height: auto;
  }
  .space-10 {
    padding: 2.5px 0;
  }
  .space-20 {
    padding: 5px 0;
  }
  .space-30 {
    padding: 7.5px 0;
  }
  .space-40 {
    padding: 10px 0;
  }
  .space-50 {
    padding: 12.5px 0;
  }
  .space-60 {
    padding: 15px 0;
  }
  .space-70 {
    padding: 17.5px 0;
  }
  .space-80 {
    padding: 20px 0;
  }
  .space-90 {
    padding: 22.5px 0;
  }
  .space-100 {
    padding: 25px 0;
  }
  .space-110 {
    padding: 27.5px 0;
  }
  .space-120 {
    padding: 30px 0;
  }
  .space-130 {
    padding: 32.5px 0;
  }
  .space-140 {
    padding: 35px 0;
  }
  .space-150 {
    padding: 37.5px 0;
  }
  .space-160 {
    padding: 40px 0;
  }
  .space-170 {
    padding: 42.5px 0;
  }
  .space-180 {
    padding: 45px 0;
  }
  .space-190 {
    padding: 47.5px 0;
  }
  .space-200 {
    padding: 50px 0;
  }
}

@media only screen and (max-width: 768px) and (min-width: 767px) {
  nav ul li a {
    padding: 5px 7px;
  }
  footer {
    line-height: 1.8;
  }
  .banner-top {
    padding-top: 0;
  }
  .title {
    font-size: 1.8rem;
  }
  .excerpt {
    font-size: 1.6rem;
  }
  .subtitle {
    font-size: 1.4rem;
  }
  #product .item .part {
    width: 100%;
  }
  #product-cat .item .part .item-banner img {
    width: 100%;
  }
  #gift .item .part .part__text {
    padding: 0 30px;
  }
}

@media only screen and (max-width: 767px) {
  body {
    font-size: 1.4rem;
  }
  .title {
    font-size: 1.8rem;
  }
  .subtitle {
    font-size: 1.4rem;
  }
  .excerpt {
    font-size: 1.4rem;
  }
  .text {
    font-size: 1.2rem;
  }
  .item .part {
    width: 100% !important;
    padding-bottom: 30px !important;
  }
  .item .part:nth-child(2n+1) {
    order: 2;
    -ms-order: 2;
    -webkit-order: 2;
  }
  .item .part:nth-child(2n+2) {
    order: 1;
    -ms-order: 1;
    -webkit-order: 1;
  }
  .readmore {
    float: left !important;
  }
  .patten-left,
  .patten-right {
    display: none;
  }
  #banner {
    display: block;
  }
  #banner .banner-top {
    order: 2;
    -ms-order: 2;
    -webkit-order: 2;
    height: auto;
  }
  #banner .banner-wrap {
    position: relative;
    order: 1;
    -ms-order: 1;
    -webkit-order: 1;
  }
  #banner .banner-wrap .text-banner {
    width: 90%;
  }
  #banner .banner-wrap .text-banner .text-banner-line-1 img {
    width: 100%;
  }
  #banner .banner-wrap .text-banner .text-banner-line-2 img {
    width: 60%;
  }
  #banner .banner-wrap .text-banner .text-banner-line-3 img {
    width: 70%;
  }
  #banner .banner-wrap .text-banner .text-banner-line-4 {
    margin-left: 0;
    margin-top: 0;
  }
  #sapo .item .part:nth-child(2n+1) {
    padding-right: 0 !important;
  }
  #cong-nghe-3D .ha-part__bottom .item .part:nth-child(2n+1) {
    padding: 0;
  }
  #cong-nghe-3D .ha-part__bottom .item:nth-child(2n+1) .part:nth-child(2n+1) .title {
    text-align: left;
    text-align-last: left;
  }
  #cong-nghe-3D .ha-part__bottom .item:nth-child(2n+1) .part:nth-child(2n+1) .line {
    justify-content: flex-start;
  }
  #cong-nghe-3D .ha-part__bottom .item:nth-child(2n+1) .part:nth-child(2n+1) .text {
    text-align-last: left;
  }
  #bst-rays-of-light .item .part {
    width: 100% !important;
  }
  #product-cat .product-cat__excerpt {
    padding: 0 20px !important;
  }
  #product-cat .item .part:nth-child(2n+1) {
    order: 1;
    -ms-order: 1;
    -webkit-order: 1;
  }
  #product-cat .item .part:nth-child(2n+2) {
    order: 2;
    -ms-order: 2;
    -webkit-order: 2;
    padding-bottom: 0 !important;
  }
  #product-cat .item .part .item-banner {
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100%;
  }
  #product-cat .item .part .item-banner img {
    height: auto;
  }
  .item-banner {
    width: 100% !important;
  }
  #gift .item .part:nth-child(2n+1) {
    padding-bottom: 0 !important;
  }
  #gift .item .part:nth-child(2n+2) .item-banner {
    margin-left: 0;
  }
  #gift .item .part .part__time {
    text-align: center;
  }
  #gift .item .part .part__text {
    padding: 0 30px !important;
  }
  .fb-like {
    position: absolute !important;
    right: 55px;
    bottom: auto;
    z-index: 9;
  }
  footer {
    text-align: center;
    line-height: 1.8;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  footer .text {
    font-size: 1.3rem;
  }
  footer .btn-footer {
    margin-top: 10px;
  }
  footer .btn-footer > div {
    padding: 5px 13px;
    margin: 5px 15px;
  }
  #uu-dai .uu-dai-wrap {
    width: 95%;
  }
  #uu-dai-fix {
    left: -85px;
    max-width: 100px;
  }
  .left-ele {
    left: 0 !important;
  }
  .scroll-down {
    top: -100px;
    right: -5px;
  }
  .space-10 {
    padding: 2.5px 0;
  }
  .space-20 {
    padding: 5px 0;
  }
  .space-30 {
    padding: 7.5px 0;
  }
  .space-40 {
    padding: 10px 0;
  }
  .space-50 {
    padding: 12.5px 0;
  }
  .space-60 {
    padding: 15px 0;
  }
  .space-70 {
    padding: 17.5px 0;
  }
  .space-80 {
    padding: 20px 0;
  }
  .space-90 {
    padding: 22.5px 0;
  }
  .space-100 {
    padding: 25px 0;
  }
  .space-110 {
    padding: 27.5px 0;
  }
  .space-120 {
    padding: 30px 0;
  }
  .space-130 {
    padding: 32.5px 0;
  }
  .space-140 {
    padding: 35px 0;
  }
  .space-150 {
    padding: 37.5px 0;
  }
  .space-160 {
    padding: 40px 0;
  }
  .space-170 {
    padding: 42.5px 0;
  }
  .space-180 {
    padding: 45px 0;
  }
  .space-190 {
    padding: 47.5px 0;
  }
  .space-200 {
    padding: 50px 0;
  }
}
