body{
    margin:0;
}
img{
    max-width: 100%;
    height: auto;
}
/*Font face*/
@font-face {
    font-family: MyriadLight;
    src: url('../font/myriadpro-light-webfont.eot');
    src: url('../font/myriadpro-light-webfont.eot?#iefix') format('embedded-opentype'), 
        url('../font/myriadpro-light-webfont.ttf') format('truetype'), 
        url('../font/myriadpro-light-webfont.svg#MyriadLight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: MyriadRegular;
    src: url('../font/myriadpro-regular-webfont.eot');
    src: url('../font/myriadpro-regular-webfont.eot?#iefix') format('embedded-opentype'), 
        url('../font/myriadpro-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: UvnNhatky;
    src: url('../font/UVNNhatKy_R.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: UvnAurora;
    src: url('../font/UTM_Aurora.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Swiss;
    src: url('../font/UTMSwissCondensed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*hết font-face*/

/*menu top*/
#menu{
    float: left;
    width: 100%;
    background: #DA2031;
}
#menu .menu_size{
    float: left;
    width: 70%;
    margin: 0 15%;
}
#menu .menu_logo{
    float: left;
    width: 20%;
}
#menu .menu_logo div{
    vertical-align: middle;
}
#menu .menu_category{
    float: left;
    width: 80%;
}
#menu .menu_category ul{
    float: left;
    list-style: none;
}
#menu .menu_category ul li{
    float: left;
    padding: 25px 10px;
    color: white;
    text-transform: uppercase;
    font: 16px MyriadRegular;
    white-space: nowrap;
}
#menu .menu_category ul li div{
    display: inline-block;
    vertical-align: middle;
}
#menu .menu_category ul li div a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}
#menu .menu_category ul li img{
    width: 20px;
    height: 20px;
}
/*hết menu top*/

.video-bg{
    float: left;
    position: relative;
    width: 100%;
}
.video-bg video{
    width: 100%;
    background-size: cover;
}
.video-bg iframe{
    width: 100%;
    background-size: cover;
}
#video_lp{
    width:100%;
    /*height:759px;*/
}
#player iframe html body a.ytp-watermark.yt-uix-sessionlink:hover{
    display:none !important;
}
#player iframe html body a.ytp-watermark.yt-uix-sessionlink{
    display:none !important;
}
#content{
    float: left;
    width: 100%;
}
.text_clock_bg{
    position: relative;
    height: 100%;
    width: 100%;
    display: inline-block;
}
.text_clock{
    position: absolute;
    text-align: center;
    float: left;
    width: 100%;
    color: #fff;
    font: bold 56px sans-serif;
    text-transform: uppercase
}
.clock{
    margin: 5px 0 0;
    display: inline-block;
}
#content{
    width: 100%;
    float: left;
    position: relative;
}
#content_1{
    width: 100%;
    float: left;
    background: url("../images/back-content-1.jpg") center/contain no-repeat;
}
#content_1 .content_1_tit{
    width: 100%;
    float: left;
    font: bold 30px UvnNhatky;
    color: #DA2031;
    margin: 30px 0 0;
    text-transform: uppercase;
    text-align: center;
}
#content_1 .content_1_tit_line{
    height: 1px;
    float: left;
    width: 38%;
    margin: 2px 31%;
    border-bottom: 1px solid #db2031;
}
#content_1 .content_1_text{
    width: 84%;
    margin: 0 8%;
    float: left;
}
#content_1 .content_1_text .content_1_text_1{
    width: 37%;
    float: left;
    margin-bottom: 5px; 
}
#content_1 .content_1_text .content_1_text_1_img img{
    margin-top: -65px;
    width: 350px;
    height: auto;
}
#content_1 .content_1_text .content_1_text_1_text{
    font: bold 16px MyriadRegular;
    text-align: justify;
    color: #DA2031;
    line-height:28px;
    margin: 20px 0 0;
}
#content_1 .content_1_text .content_1_text_2{
    width: 60%;
    float: left;
    margin: 30px 0 0 3%;
}
.page_line{
    float: left;
    width: 100%;
    min-height: 100%;
    height: 20px;
    background: url("../images/page-line.png") 50% 100%/contain no-repeat;
    margin: 30px 0;
}
#content_2{
    width: 100%;
    float: left;
    text-align: center;
}
#content_2 .content_2_tit{
    width: 100%;
    position: absolute;
    margin: 50px 0 0;
}
#content_2 .content_2_1{
    width: 100%;
    min-width: 100%;
    float: left;
    display: inline-block;
    /*background: url("../images/back-content-2-02.png") center/contain no-repeat,url("../images/back-content-2.png") center/contain no-repeat,url("../images/back-content-2-03.jpg") center/contain no-repeat;*/
    background: url("../images/back-content-2.png") center/contain no-repeat,url("../images/back-content-2-03.jpg") center/contain no-repeat;
}
#content_2 .content_2_1 img{
    width: 100%;
}
#content_2 .content_2_2{
    float: left;
    width: 90%;
    margin: 0 5%;
}
#content_2 .content_2_2 div{
    float: left;
    width: calc((100% / 5) - 20px);
    display: inline-block;
    padding: 10px 10px;
}
#content_2 .content_2_2 div img{
    width: 100%;
}
#content_3{
    float: left;
    width: 100%;
    background: url("../images/back-content-3.jpg") center/cover no-repeat;
}
#content_3 .content_3_size{
    width: calc(96% - 4px);
    float: left;
    height: 270px;
    margin: 1%;
    padding: 1%;
    border: 2px dashed #f27c16;
}
#content_3 .img_quatang{
    display: inline-block;
    width: 45%;
    vertical-align: middle;
    margin: 20px 0 0;
}
#content_3 .img_voucher{
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}
#content_3 .img_voucher img{
    height: 130px;
}
#content_3 .text_dangky{
    width: 100%;
    text-align: center;
    color: #DA2031;
    font: 36px MyriadRegular;
}
#content_3 .content_3_left{
    float: left;
    display: inline-table;
    width: 35%;
    height: 270px;
    background: url("../images/btn-dangky.png") center/50% no-repeat;
    text-align: center;
}
#content_3 .content_3_left .text_btn_dangky{
    display: table-cell;
    vertical-align: middle;
    height: 270px;
    color: #db2031;
    font: bold 24px MyriadRegular;
    text-transform: uppercase;
}
#content_3 .content_3_left .text_btn_dangky a{
    text-decoration: none;
    color: #db2031;
}
#content_3 .content_3_right{
    float: left;
    display: inline-block;
    width: 65%;
    height: 270px;
    text-align: center;
}
#content_4{
    float: left;
    width: 100%;
    margin: 20px 0;
}
#gmap_canvas{
    height:450px;
    width:100%;
    font-size: 32px;
}
#footer{
    float: left;
    width: 100%;
    text-align: center;
}
#footer .social{
    margin: 50px 0 70px;
}
#footer .socialimage{
    display: inline-block;
    width: 7%;
}
#footer .socialline{
    display: inline-block;
    border-bottom: 1px solid #db2031;
    width: 15%;
}
#footer .socialimage img{
    height: 40px;
}
#footer .textfooter{
    text-align: center;
    background: #da2031;
    color: white;
    margin: 15px 0;
}
#footer .textfooter_1{
    width: 100%;
    font: 20px MyriadRegular;
    padding: 15px 0;
}
#footer .textfooter_2{
    width: 100%;
    display: inline-block;
}
#footer .textfooter_2 .textfooter_2_1{
    display: inline-block;
    text-align: left;
    font: 14px MyriadRegular;
    margin: 0 30px;
    line-height: 45px;
}
#footer .textfooter_2 .textfooter_2_1 img{
    height: 30px;
    display: inline-block;
    vertical-align: top;
}
#footer .textfooter_2 .textfooter_2_1 div{
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}
#footer .textfooter_2 .textfooter_2_2{
    display: inline-block;
    font: 18px MyriadRegular;
    margin: 22px 40px;
    vertical-align: top;
}
#footer .textfooter_2 .textfooter_2_line{
    height: 60px;
    margin: 10px 0 0;
    border-right: 1px solid #fff;
    display: inline-block;
    vertical-align: top;
}

#content_2 h1#textshadow div{
    font: 66px UvnAurora;
    background-image: -webkit-radial-gradient(#eed851,#eed851,#e6a031,#e6a031);
    background-image: -o-radial-gradient(#eed851,#eed851,#e6a031,#e6a031);
    background-image: -moz-radial-gradient(#eed851,#eed851,#e6a031,#e6a031);
    background-image: radial-gradient(#eed851,#eed851,#e6a031,#e6a031);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 50% 100%;
    position:absolute;
    width: 100%;
    margin: 0;
}
#content_2 h1#textshadow:after {
    text-shadow: -2px 0 2px #fff,-1px -1px 2px #fff,-1px 0 2px #fff,2px 1px 4px #000;
    content: 'ĐÓN CHỜ NGÀY BẤT NGỜ TỪ TRANG SỨC DOJI';
    font: 66px UvnAurora;
    color: #e6a031;
}

h1#textshadow1,h1#textshadow{
    margin: 0;
}
#content_2 h1#textshadow1 div{
    font: 48px UvnAurora;
    background-image: -webkit-radial-gradient(#eed851,#eed851,#e6a031,#e6a031);
    background-image: -o-radial-gradient(#eed851,#eed851,#e6a031,#e6a031);
    background-image: -moz-radial-gradient(#eed851,#eed851,#e6a031,#e6a031);
    background-image: radial-gradient(#eed851,#eed851,#e6a031,#e6a031);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100%;
    position:absolute;
    width: 50%;
    margin: 0 25%;
}
#content_2 h1#textshadow1:after {
    text-shadow: -2px 0 2px #fff,-1px -1px 2px #fff,-1px 0 2px #fff,2px 1px 4px #000;
    content: 'Vào ngày 03/11/2016';
    font: 48px UvnAurora;
    color: #e6a031;
}

/*menu respon*/
ul.nav_land_respon {list-style-type: none;margin: 0;padding: 0;overflow: hidden;background-color: #da2031;width:100%;}
ul.nav_land_respon li {float: left;padding:0 20px 0 0;}
ul.nav_land_respon li a {display: inline-block;color: #fff;text-align: center;text-decoration: none;transition: 0.3s;font-size: 14px;}
ul.nav_land_respon li a:hover {background-color: #da2031;}
ul.nav_land_respon li.icon {display: none;font-size:30px;height:40px;}
/*end menu respon*/
.textmap{
    font-size: 20px;
}

/*like share css*/
#shareBtn{
    background-color:#4267b2;
    border-color:#4267b2;
    height:18px;
    padding:0 11px;
    border-radius:3px;
    margin:0 0 0 3px;
    float:left;
    color:#fff;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
}
#shareBtn:hover{background-color:#365899 !important;}
.btn-success {
    color: #fff;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    font-family: Helvetica, Arial, sans-serif;
}
.content_1_text_1_text iframe{
    float:left;
    height: 20px;
}
/*end like share css*/

/*page2*/
#banner_top{
    float: left;
    max-width: 100%;
    width: 100%;
    min-height: 505px;
    background: url("../images/banner-02.jpg") center/cover no-repeat;
}
#page2Content2{
    float: left;
    width: 100%;
    margin: 0 0 40px;
    font-family: Swiss;
}
#page2Content3{
    float: left;
    width: 100%;
    font-family: Swiss;
    color: #fff;
}
#page2Content4{
    float: left;
    width: 100%;
    font-family: Swiss;
    min-height: 440px;
    background: url("../images/backpage2content4-1.jpg") center/cover no-repeat;
    position: relative;
    margin-bottom: 7px;
}
#page2Content5{
    float: left;
    width: 100%;font-family: Swiss;
}
#page2Content6{
    float: left;
    width: 100%;font-family: Swiss;
}
#page2Content7{
    float: left;
    width: 100%;
    text-align: center;
    font-family: Swiss;
    margin: 7px 0 0;
    background: url("../images/backpage2quatang.png") center/cover no-repeat;
    padding: 25px 0px;
}
.page2Content7_img img{
    height: 200px;
}
.page2Content7_tit{
    font-family: UvnNhatky;
    color: #E21F26;
    font-weight: bold;
    font-size: 32px;
    margin: 0 0 20px;
}
.page2Content2_tit{
    text-align: center;
    color: #da2031;
    font: bold 30px UvnNhatky;
    margin-bottom: 10px;
}
#page2Content2 .text_clock{
    position: relative;
}
#page2Content2 .flip-clock-wrapper ul li a div div.inn{
    color: #fff;
    background-color: #da2031;
}
#page2Content2 .flip-clock-dot{
    background: #da2031;
}

#page2Content3 .page2Content3_tit1 div{
    font: 66px UvnAurora;
    background-image: -webkit-radial-gradient(#eed851,#eed851,#e6a031,#e6a031);
    background-image: -o-radial-gradient(#eed851,#eed851,#e6a031,#e6a031);
    background-image: -moz-radial-gradient(#eed851,#eed851,#e6a031,#e6a031);
    background-image: radial-gradient(#eed851,#eed851,#e6a031,#e6a031);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100%;
    position:absolute;
    display: inline-block;
}
#page2Content3 .page2Content3_tit1:after {
    text-shadow: -2px 0 2px #fff,-1px -1px 2px #fff,-1px 0 2px #fff,2px 1px 4px #000;
    content: 'ƯU ĐÃI HÀNG GIỜ';
    font: 66px UvnAurora;
    color: #e6a031;
}
#page2Content3 .page2Content3_tit2{
    margin: -10px 0 0;
}
#page2Content3 .page2Content3_tit2 div{
    font: 66px UvnAurora;
    background-image: -webkit-radial-gradient(#eed851,#eed851,#e6a031,#e6a031);
    background-image: -o-radial-gradient(#eed851,#eed851,#e6a031,#e6a031);
    background-image: -moz-radial-gradient(#eed851,#eed851,#e6a031,#e6a031);
    background-image: radial-gradient(#eed851,#eed851,#e6a031,#e6a031);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 50% 100%;
    position:absolute;
    display: inline-block;
}
#page2Content3 .page2Content3_tit2:after {
    text-shadow: -2px 0 2px #fff,-1px -1px 2px #fff,-1px 0 2px #fff,2px 1px 4px #000;
    content: 'BẤT NGỜ TRÚNG LỚN';
    font: 66px UvnAurora;
    color: #e6a031;
}
#page2Content3{
    min-height: 700px;
    background: url("../images/xe-vespa.png") center left/600px no-repeat,url("../images/backpage2content2-2.png") center/cover no-repeat,url("../images/backpage2content2-1.png") center/cover no-repeat;
}
.page2Content3_bg{
    width: 60%;
    margin-left: 40%;
}
.page2Content3_tit{
    text-align: center;
}
.page2Content3_5gift_tit{
    text-align: center;
}
.page2Content3_5gift_content{
    width: 100%;
    margin: 10px 0 0;
}
.fivegift_detail{
    width: calc(100% / 4 - 7px);
    display: inline-block;
    vertical-align: top;
}
.page2Content3_gift_tit{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.page2Content3_gift_content{
    width: 80%;
    margin: 5px 10% 0;
}
.dailygift_detail{
    width: calc(100% / 2 - 3px);
    display: inline-block;
    text-align: center;
}
.dailygift_detail:nth-child(1){
    border-right: 1px solid;
    height: 115px;
}
.page2Content4_bg{
    float: left;
    padding: 2%;
    width: 96%;
    color: #fff;
}
#page2Content4 .diamond1_1 div{
    font: 56px UvnAurora;
    background-image: -webkit-radial-gradient(#FFF0CA,#BD752A);
    background-image: -o-radial-gradient(#FFF0CA,#BD752A);
    background-image: -moz-radial-gradient(#FFF0CA,#BD752A);
    background-image: radial-gradient(#FFF0CA,#BD752A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100%;
    display: inline-block;
}
.diamond1_1{
    text-align: center;
}
.diamond1_2,.diamond1_3{
    display: inline-block;
    margin: -20px 0 0;
}
.diamond1_2{
    font-size: 30px;
}
.diamond1_4{
    text-align: left;
    position: relative;
}
#page2Content4 .diamond1_3 div{
    font: 58px UvnAurora;
    background-image: -webkit-radial-gradient(#eed851,#eed851,#e6a031,#e6a031);
    background-image: -o-radial-gradient(#eed851,#eed851,#e6a031,#e6a031);
    background-image: -moz-radial-gradient(#eed851,#eed851,#e6a031,#e6a031);
    background-image: radial-gradient(#eed851,#eed851,#e6a031,#e6a031);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100%;
    position:absolute;
    display: inline-block;
}
#page2Content4 .diamond1_3:after {
    text-shadow: -2px 0 2px #fff,-1px -1px 2px #fff,-1px 0 2px #fff,2px 1px 4px #000;
    content: '400 triệu đồng';
    font: 58px UvnAurora;
    color: #e6a031;
}
.diamond_text{
    width: 100%;
    float: left;
}
.diamond1,.diamond2,.diamond3{
    height: 205px;
}
.diamond1{
    width: calc(45% - 1px);
    float: left;
    text-align: center;
    border-right: 1px solid #fff;
}
.diamond2{
    width:calc(30% - 31px);
    float: left;
    position: relative;
    border-right: 1px solid #fff;
    margin-left: 30px;
}
.diamond3{
    width:calc(25% - 31px);
    float: left;
    position: relative;
    margin-left: 30px;
}
.xemchitiet1{
    display: inline-block;
    bottom: 10px;
    right: 10px;
    position: absolute;
    padding: 5px 10px;
    background: #fff;
    color: #092e59;
    font-style: italic;
}
.xemchitiet1 a{
    color: #092e59;
    text-decoration: none;
}
.xemchitiet1 .muiten1{
    width: 10px;
    height: 11px;
    display: inline-block;
    background: url("../images/page2-09.jpg") center/cover no-repeat;
}
.xemchitiet2{
    display: inline-block;
    bottom: 10px;
    right: 10px;
    position: absolute;
    padding: 5px 10px;
    background: #fff;
    color: #B91222;
    font-style: italic;
}
.xemchitiet2 a{
    color: #B91222;
    text-decoration: none;
}
.xemchitiet2 .muiten2{
    width: 10px;
    height: 11px;
    display: inline-block;
    background: url("../images/page2-10.jpg") center/cover no-repeat;
}
.xemchitiet3{
    display: inline-block;
    bottom: 10px;
    right: 10px;
    position: absolute;
    padding: 5px 10px;
    background: #E21F26;
    color: #fff;
    font-style: italic;
}
.xemchitiet3 a{
    color: #fff;
    text-decoration: none;
}
.xemchitiet3 .muiten3{
    width: 10px;
    height: 11px;
    display: inline-block;
    background: url("../images/page2-11.png") center/cover no-repeat;
}
#page2Content5 .yhanquoc_tit1 div{
    font: 56px UvnAurora;
    background-image: -webkit-radial-gradient(#eed851,#eed851,#e6a031,#e6a031);
    background-image: -o-radial-gradient(#eed851,#eed851,#e6a031,#e6a031);
    background-image: -moz-radial-gradient(#eed851,#eed851,#e6a031,#e6a031);
    background-image: radial-gradient(#eed851,#eed851,#e6a031,#e6a031);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 50% 100%;
    position:absolute;
    display: inline-block;
}
#page2Content5 .yhanquoc_tit1:after {
    text-shadow: -2px 0 2px #fff,-1px -1px 2px #fff,-1px 0 2px #fff,2px 1px 4px #000;
    content: 'CƠN LỐC';
    font: 56px UvnAurora;
    color: #e6a031;
}
#page2Content5 .yhanquoc_tit2 div{
    font: 76px UvnAurora;
    background-image: -webkit-radial-gradient(#eed851,#eed851,#e6a031,#e6a031);
    background-image: -o-radial-gradient(#eed851,#eed851,#e6a031,#e6a031);
    background-image: -moz-radial-gradient(#eed851,#eed851,#e6a031,#e6a031);
    background-image: radial-gradient(#eed851,#eed851,#e6a031,#e6a031);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100%;
    position:absolute;
    display: inline-block;
}
#page2Content5 .yhanquoc_tit2:after {
    text-shadow: -2px 0 2px #fff,-1px -1px 2px #fff,-1px 0 2px #fff,2px 1px 4px #000;
    content: 'ĐỒNG GIÁ';
    font: 76px UvnAurora;
    color: #e6a031;
}
.page2yhanquoc{
    width: calc(25% - 7px);
    float: left;
    color: #fff;
    min-height: 802px;
    background: url("../images/backpage2yhanquoc2.png") center/cover no-repeat,url("../images/backpage2yhanquoc.png") center/cover no-repeat;
    position: relative;
    margin-right: 7px;
}
.yhanquoc_1{
    margin-left: 25%;
    text-align: left;
}
.yhanquoc_1 .text1{
    font-size: 36px;
    font-weight: bold;
}
.yhanquoc_1 .text2{
    height: 50px;
}
.yhanquoc_2{
    margin-left: 25%;
    text-align: left;
}
.yhanquoc_2 .text1{
    font-size: 36px;
}
.yhanquoc_2 .textphantram{
    font-size: 76px;
}
.yhanquoc_3{
    margin-left: 25%;
    text-align: left;
}
.yhanquoc_4{
    text-align: center;
}
.yhanquoc_4 img{
    height: 365px;
}
.yhanquoc_tit{
    margin: 20px 0 0;
}
.yhanquoc_tit1{
    text-align: right;
    margin-right: 10%;
}
.yhanquoc_tit2{
    text-align: right;
    margin-right: 5%;
    margin-top: -22px;
}
.page2gemwedding{
    width: 75%;
    float: left;
    min-height: 728px;
}
.page2gem_logo{
    max-width: 100%;
    position: absolute;
}
.page2gem{
    width: 98%;
    float: left;
    padding: 1%;
    color: #fff;
    min-height: 355px;
    background: url("../images/backpage2gem.png") center/cover no-repeat;
    position: relative;
    margin-bottom: 7px;
}
.page2gem_bg{
    width: 60%;
    float: left;
    margin: 0px 10% 0 30%;
    text-align: center;
}
.page2gem_tit{
    font-size: 26px;
}
.page2gem_text .textphantram{
    font-size: 72px;
}
.page2gem_text1_1,.page2gem_text2_1{
    font-size: 22px;
}
.page2gem_text1_img{
    position: absolute;
}
.page2gem_text1_img img{
    display: inline-block;
    height: 185px;
}
.page2gem_text{
    width: 50%;
    float: left;
}

.page2wedding{
    width: 98%;
    float: left;
    padding: 1%;
    color: #000;
    min-height: 394px;
    background: url("../images/backpage2wedding.png") center/cover no-repeat;
    position: relative;
    margin-bottom: 7px;
}
.page2wedding_logo{
    height: 40px;
    position: absolute;
}
.page2wedding_text{
    margin: 10% 0 0;
    position: relative;
}
.page2wedding_text01{
    color: #E21F26;
    font-weight: bold;
    font-size: 36px;
    position: absolute;
}
.page2wedding_text02{
    font-size: 32px;
    position: absolute;
    padding: 20px 0px;
}
.page2wedding_text02 ul{
    line-height: 60px;
}
.page2wedding_text02 li:before {
    content: "• ";
    color: #000;
    margin-left: -15px;
    position: absolute;
}
.page2wedding_text02 .text1{
    font-size: 56px;
    color: #E21F26;
}
.page2wedding_text02 .text2{
    font-size: 72px;
    color: #E21F26;
}
.page2wedding_text02 .text3{
    font-size: 56px;
    color: #E21F26;
}

#page2Content6 .locphattai1_tit div{
    font: 28px UvnAurora;
    background-image: -webkit-radial-gradient(#eed851,#eed851,#e6a031,#e6a031);
    background-image: -o-radial-gradient(#eed851,#eed851,#e6a031,#e6a031);
    background-image: -moz-radial-gradient(#eed851,#eed851,#e6a031,#e6a031);
    background-image: radial-gradient(#eed851,#eed851,#e6a031,#e6a031);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100%;
    position:absolute;
    display: inline-block;
}
#page2Content6 .locphattai1_tit:after {
    text-shadow: -2px 0 2px #fff,-1px -1px 2px #fff,-1px 0 2px #fff,2px 1px 4px #000;
    content: 'Trang sức Vàng 24k Lộc - Phát - Tài';
    font: 28px UvnAurora;
    color: #e6a031;
}
.page2locphattai{
    width: calc(38% - 7px);
    float: left;
    padding: 1%;
    color: #fff;
    min-height: 377px;
    background: url("../images/backpage2lpt.png") center/cover no-repeat;
    position: relative;
    margin-right: 7px;
}
.locphattai_logo{
    position: absolute;
}
.locphattai1{
    width: 75%;
    margin: 0 0 0 25%;
}
.locphattai2{
    width: 100%;
    float: left;
}
.locphattai2_text01{
    margin: 10px 0 0;
    position: relative;
}
.locphattai2_text01 .text1, .locphattai2_text01 .image{
    display: inline-block;
    position: absolute;
    top: 0;
    float: left;
    width: 50%;
}
.locphattai2_text01 .text1{
    margin-left: 10%;
    top: 20px;
    line-height: 40px;
}
.locphattai2_text01 .text1 .text1_01{
    font-size: 28px;
}
.locphattai2_text01 .text1 .text1_02{
    font-size: 60px;
}
.locphattai2_text01 .text1 .text1_03{
    font-size: 20px;
}
.locphattai2_text01 .image{
    margin-left: 40%;
    position: relative;
}
.locphattai2_text01 .text2{
    width: 100%;
    float: left;
    text-align: center;
}
.locphattai2_text01 .image1{
    text-align: center;
}
#page2Content6 .locphattai2_text02 div{
    font: 18px UvnAurora;
    background-image: -webkit-radial-gradient(#eed851,#eed851,#e6a031,#e6a031);
    background-image: -o-radial-gradient(#eed851,#eed851,#e6a031,#e6a031);
    background-image: -moz-radial-gradient(#eed851,#eed851,#e6a031,#e6a031);
    background-image: radial-gradient(#eed851,#eed851,#e6a031,#e6a031);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100%;
    position:absolute;
    display: inline-block;
}
#page2Content6 .locphattai2_text02:after {
    /*text-shadow: -2px 0 2px #fff,-1px -1px 2px #fff,-1px 0 2px #fff,2px 1px 4px #000;*/
    text-shadow: 0;
    content: 'Nhẫn tròn 999.9 Phúc - Lộc - Phát - Tài & Hưng - Thịnh - Vượng';
    font: 18px UvnAurora;
    color: #e6a031;
}
.locphattai3{
    width: 100%;
    float: left;
}
.page2tsgioitre{
    width: 58%;
    float: left;
    padding: 1%;
    color: #000;
    min-height: 377px;
    background: url("../images/backpage2tstre.png") center/cover no-repeat;
    position: relative;
}
.tsgioitre_text{
    position: relative;
    margin: 30px 0 0;
}
.tsgioitre_text01{
    color: #E21F26;
    font-weight: bold;
    font-size: 36px;
    position: absolute;
}
.tsgioitre_text02{
    font-size: 32px;
    position: absolute;
    padding: 20px 0px;
}
.tsgioitre_text02 ul li:nth-child(1){
    margin-left: -40px;
    color: #000;
}
.tsgioitre_text02 li:before {
    content: "• ";
    color: #000;
    margin-left: -15px;
    position: absolute;
}
.tsgioitre_text02 li:nth-child(1):before {
    content: "";
}
.tsgioitre_text02 .text1{
    color: #E21F26;
    font-size: 56px;
}
.tsgioitre_text02 .text2{
    color: #E21F26;
    font-size: 72px;
}
.tsgioitre_text02 li:nth-child(3){
    position: relative
}
.tsgioitre_text02 li:nth-child(3):before {
    top:45px;
}
.page2Content7_img img:nth-child(1){
    z-index: 99990;
}
.page2Content7_img img:nth-child(2){
    margin-left: -38px;
    z-index: 99991;
}
.page2Content3_5gift{
    text-align: center;
    margin: 10px 0 0;
}
.page2Content3_5gift_tit{
    font-size: 24px;
    font-weight: bold;
}
.fivegift_detail:nth-child(1){
    font-size: 20px;
    border-right: 1px solid;
    height: 95px;
}
.fivegift_detail:nth-child(2){
    border-right: 1px solid;
    height: 95px;
}
.fivegift_detail:nth-child(3){
    border-right: 1px solid;
    height: 95px;
}
.fivegift_detail:nth-child(4) img{
    margin: 20px 0 0;
}
.page2Content3_dailygift{
    margin: 25px 0 0;
}
.dailygift_detail div,.dailygift_detail img{
    display: inline-block;
}
.dailygift_detail div{
    vertical-align: top;
}
#page2Content4 ul,#page2Content5 ul,#page2Content6 ul{
    list-style: none;
}
ul.diamond1_4_1,ul.diamond1_4_2{
    padding-left: 28px;
    margin: 0;
}
ul.diamond1_4_1:before {
    content: "• ";
    color: #DE8A00;
    margin-left: -15px;
    position: absolute;
    top: 15px;
    font-size: 30px;
}
ul.diamond1_4_2 li:before {
    content: "• ";
    color: #fff;
    margin-left: -8px;
    position: absolute;
}
ul.diamond1_4_1 li.title{
    font-size: 40px;
    font-weight: bold;
}
ul.diamond2_1,ul.diamond2_2{
    padding-left: 10px;
    margin: 0;
}
ul.diamond2_1:before {
    content: "• ";
    color: #DE8A00;
    margin-left: -10px;
    position: absolute;
    font-size: 22px;
}
ul.diamond2_2 li:before {
    content: "• ";
    color: #fff;
    margin-left: -8px;
    position: absolute;
}
ul.diamond2_2 li:nth-child(1):before {
    top: 40px;
}
ul.diamond2_2 li:nth-child(2):before {
    top: 92px;
}
.diamond2_1 .image:nth-child(3){
    position: absolute;
    right: 0;
    top: 50px;
    width: 50%;
}
.diamond2_2 .text1{
    font-size: 28px;
}
.diamond2_2 .textphantram{
    font-size: 40px;
}
ul.diamond2_1 li.title{
    font-size: 20px;
    font-weight: bold;
}
.diamond2_1 .image{
    display: inline-block;
    width: 50%;
    float: left;
}
ul.diamond3_1,ul.diamond3_2{
    padding-left: 10px;
    margin: 0;
}
ul.diamond3_1:before {
    content: "• ";
    color: #DE8A00;
    margin-left: -10px;
    position: absolute;
    font-size: 22px;
}
.diamond3_1 li + div{
    position: absolute;
    top: 50px;
}
ul.diamond3_2 li:before {
    content: "• ";
    color: #fff;
    margin-left: -8px;
    position: absolute;
}
ul.diamond3_1 li.title{
    font-size: 20px;
    font-weight: bold;
}
.diamond3_2{
    float: right;
    font-size: 18px;
    width: 35%;
}
.diamond3_2 .textphantram{
    font-size: 40px;
}
.diamond3_2 li{
    margin: 75px 0 0;
}
.diamond_tit{
    width: 45%;
    text-align: center;
}

ul.diamond1_4_2{
    width: calc(30% - 10px);
    float: left;
    font-size: 18px;
    margin: 15px 0 0;
    line-height: 32px;
}
ul.diamond1_4_2 + div{
    width: 60%;
    float: right;
}
ul.diamond1_4_2 + div img{
    height: 200px;
    position: absolute;
}
/*end page2*/