@media only screen and (max-width: 1600px) {
  .join-now-fixed {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
}

@media only screen and (max-width: 1366px) {
  .join-now-fixed {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
}

@media only screen and (max-width: 768px) {
  .khoanh-khac .outer .wrap .image {
    width: 100%;
  }
  .khoanh-khac .outer .wrap .text {
    position: relative;
    width: 100%;
    text-align-last: auto;
  }
  .khoanh-khac .outer .wrap .text .title {
    word-spacing: 0;
    letter-spacing: normal;
  }
  .khoanh-khac .outer .wrap .text .title b {
    font-size: 1.8rem;
    display: block;
  }
  .khoanh-khac .outer .wrap .text .content {
    width: 100%;
    padding-bottom: 30px;
  }
  .loving-heart .image {
    width: 100%;
  }
  .loving-heart .text {
    margin-right: 0;
    margin-left: 0;
    width: 100%;
    right: 0;
  }
  .loving-heart .text .wrap {
    display: inline-block;
    text-align: left;
  }
  .loving-heart .text .wrap .content {
    text-align-last: left;
  }
  .hon-le .hon-le-wrap .left {
    width: 100%;
    order: 1;
    -ms-order: 1;
    -webkit-order: 1;
  }
  .hon-le .hon-le-wrap .right {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    order: 2;
    -ms-order: 2;
    -webkit-order: 2;
  }
  #scrollTop {
    bottom: 40px;
  }
}

@media only screen and (max-width: 768px) and (min-width: 767px) {
  nav ul li a {
    padding: 5px 7px;
  }
  .san-pham .listing .wrap #listing-by-json {
    width: 49%;
  }
  .san-pham .listing .wrap #listing-by-json .item {
    width: 50%;
  }
  .san-pham .listing .wrap #listing-by-json .item:nth-child(2n+2)::before {
    display: none;
  }
  .san-pham .listing .wrap .banner {
    width: 50%;
  }
  footer {
    line-height: 1.8;
  }
}

@media only screen and (max-width: 767px) {
  .desktop {
    display: none !important;
  }
  .desktop-fle {
    display: none !important;
  }
  .desktop-inl {
    display: none !important;
  }
  .mobile {
    display: block !important;
  }
  .mobile-fle {
    display: flex !important;
  }
  .mobile-inl {
    display: inline-block !important;
  }
  .readmore {
    float: left !important;
  }
  nav .back-to-doji {
    font-size: 1rem;
  }
  nav ul {
    position: fixed;
    top: 100vh;
    left: 0;
    z-index: 99;
    height: 100vh;
    width: 100%;
    background: #6b278c;
    transition: 0.5s;
    text-align: center;
    padding-top: 70px;
    transition: 0.8s;
    -moz-transition: 0.8s;
    -webkit-transition: 0.8s;
  }
  nav ul.show-menu {
    display: block;
    top: 0;
  }
  nav ul li {
    width: 100%;
  }
  nav ul li a {
    padding: 15px 5px;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    width: 100%;
    font-size: 1.8rem;
  }
  #banner .item .wrap-banner {
    width: 100%;
    line-height: 0;
  }
  #banner .item .wrap-text {
    width: 100%;
  }
  #banner .item .wrap-text .text {
    padding: 20px;
  }
  #banner .item .wrap-text .text .content {
    padding: 0;
  }
  .text {
    position: relative;
  }
  .title::before {
    display: none;
  }
  .about {
    width: 90%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px;
  }
  .about .title img {
    width: 100%;
  }
  .che-tac {
    margin-top: 0;
    background: #fafafa;
  }
  .che-tac .text {
    margin-top: 0;
    width: 90%;
    margin-right: auto;
  }
  .video {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .video .outer .video-ytb {
    width: 100%;
    order: 1;
    -webkit-order: 1;
  }
  .video .outer .text {
    width: 100%;
    text-align: left;
    order: 2;
    -webkit-order: 2;
  }
  .video .outer .text .content {
    text-align-last: auto;
  }
  .san-pham .taxo .item {
    width: 100%;
  }
  .fb-like {
    position: absolute !important;
    right: 55px;
    bottom: auto;
    z-index: 9;
  }
  .san-pham .listing .wrap #listing-by-json {
    width: 100%;
    margin-right: 0;
  }
  .san-pham .listing .wrap #listing-by-json .item {
    width: 50%;
  }
  .san-pham .listing .wrap #listing-by-json .item:nth-child(2n+2)::before {
    display: none;
  }
  .san-pham .listing .wrap .banner {
    width: 100%;
  }
  footer {
    text-align: center;
    line-height: 1.8;
  }
  .scroll-down {
    top: -100px;
    right: -5px;
  }
  .join-now-fixed {
    left: -8%;
  }
}

@media only screen and (max-width: 320px) {
  nav .back-to-doji {
    font-size: 1rem;
  }
}
