@media only screen
  and (max-device-width: 768px) {
	#banTrNgh{min-height: 410px !important;}
	ul.topnav li.icon{font-size: 30px !important;}
	ul.topnav li a{font-size: 24px !important;}
	ul.topnav{min-height: 40px !important;}
	#menubsteterf{margin:0 !important;}
	.hoatiet1_banTrNgh{margin: 40px 0 0 !important;min-height: 50px !important;background-size: contain !important;}
	.hoatiet2_banTrNgh{margin: 0 0 40px !important;min-height: 50px !important;background-size: contain !important;}
	.content_banTrNgh_1{font-size:24px !important;}
	.video_eterf{height: 282px !important;}
	.about_eterf{background-size:cover !important;height: 460px !important;}
	.upheart{background-size: contain !important;}
	.midheart{background-size: contain !important;height: 36px !important;}
	.about_eterf_title{font-size:60px !important;width: 60% !important;margin: 0 1% 0 !important;}
	.about_eterf_subtitle{font-size:24px !important;width: 60% !important;margin: 0 1% 0 !important;}
	.about_eterf_content{font-size:20px !important;width: 42% !important;margin: 0 1% 0 !important;}
	.uudai{font-size:30px !important;height: 42px !important;background-size: contain !important;}
	.textuudainoibat{font-size:26px !important;}
	.textuudai{font-size:24px !important;}
	.anhuudai{height: 295px !important;background-size: cover !important;}
	.quatangchucphuc{background-size: contain !important;height: 42px !important;font-size:23px !important;}
	.textquatang{text-align: center !important;margin: 30px 10px !important;font-size:20px !important;}
	.anhquatang{width:100% !important;margin:0 !important;}
	.rowanhquatang{width:33% !important;font-size:20px !important;}
	.anhquatang1{height: 210px !important;background-size: contain !important;}
	.anhquatang2{height: 210px !important;background-size: contain !important;}
	.anhquatang3{height: 210px !important;background-size: contain !important;}
	.bstndh{background-size: contain !important;font-size: 25px !important;height: 45px !important;}
	.textbstndh{text-align: center !important;font-size:24px !important;margin: 30px 10px !important;}
	.anhbstndh1{width: 100% !important;background-size: cover !important;height: 230px !important;}
	.anhbstndh2{width: 100% !important;background-size: contain !important;height: 395px !important;margin: 20px 0 0 0 !important;}
	#textthele .text_content h4{font-size: 23px !important;}
	#textthele .text4{width: 98% !important;margin: 10px 1% 0 !important;}
	#textthele .textR p{font-size: 20px !important;}
	#textthele .textL p{font-size: 22px !important;}
	.san_pham{width: 90%;margin: 0 5% 5px;}
	.tb-row .cell-sp .preTextBst{font-size:18px;margin: 16px 80px 0 40px;}
	.tb-row .cell-sp .textBst1{font-size:66px;margin: 8px 0 0;}
	.tb-row .cell-sp .textBst2{font-size:66px;margin: 66px 0 0 89px;}
	.tb-row .cell-sp .detail h4{height: 42px;}
	.tb-row .cell-sp .detail h4 a{font-size:14px;}
	.tb-row .cell-sp .detail .giaSPEter{font-size: 14px;}
	.tb-row .cell-sp .detail .textGiaSPEter{font-size: 14px;}
	.botheartcover{margin: 0 0 60px !important;}
}

@media only screen
  and (min-device-width: 769px) 
  and (max-device-width: 1024px) {
	#banTrNgh{min-height: 560px !important;}
	.video_eterf{height: 375px !important;}
	.about_eterf_title{font-size:78px !important;width:45% !important;margin: 0 5% 0 !important;}
	.about_eterf_subtitle{font-size:34px !important;width:45% !important;margin: 0 5% 0 !important;}
	.about_eterf_content{font-size:27px !important;width: 45% !important;margin: 0 5% 0 !important;}
	.menubsteterf ul.topnav{min-height:0 !important;}
	.menubsteterf ul li{padding: 20px 20px 0 !important;}
	#menubsteterf {margin: -3% 0 0 !important;}
	ul.nav-land-fix li:nth-child(2) a {padding: 7px 0!IMPORTANT;}
	.tb-row .cell-sp .preTextBst{font-size:16px;margin: 24px 110px 0 84px;}
	.tb-row .cell-sp .textBst1{font-size:66px;margin: 10px 0 0 34px;}
	.tb-row .cell-sp .textBst2{font-size:66px;margin: 56px 0 0 140px;}
}

@media only screen
  and (max-device-width: 480px)  {
	#banTrNgh {min-height: 255px !important;}
	ul.topnav li.icon{font-size: 30px !important;}
	ul.topnav li a{font-size: 24px !important;}
	ul.topnav{min-height: 40px !important;}
	#menubsteterf{margin:0 !important;}
	.hoatiet1_banTrNgh{margin: 40px 0 0 !important;min-height: 50px !important;background-size: contain !important;}
	.hoatiet2_banTrNgh{margin: 0 0 40px !important;min-height: 50px !important;background-size: contain !important;}
	.content_banTrNgh_1{font-size:15px !important;}
	.video_eterf{height: 180px !important;}
	.about_eterf{background-size:cover !important;height: 260px !important;}
	.upheart{background-size: contain !important;}
	.midheart{background-size: contain !important;height: 36px !important;}
	.about_eterf_title{font-size:30px !important;width: 60% !important;margin: 0 1% 0 !important;}
	.about_eterf_subtitle{font-size:14px !important;width: 60% !important;margin: 0 1% 0 !important;}
	.about_eterf_content{font-size:12px !important;width: 42% !important;margin: 0 1% 0 !important;}
	.uudai{font-size:30px !important;height: 42px !important;background-size: contain !important;}
	.textuudainoibat{font-size:26px !important;}
	.textuudai{font-size:18px !important;}
	.anhuudai{height: 195px !important;background-size: cover !important;}
	.quatangchucphuc{background-size: contain !important;height: 42px !important;font-size:23px !important;}
	.textquatang{text-align: justify !important;margin: 30px 10px !important;font-size:16px !important;}
	.anhquatang{width:100% !important;margin:0 !important;}
	.rowanhquatang{width:50% !important;font-size:16px !important;}
	.rowanhquatang:last-child{width:100% !important;}
	.anhquatang1{height: 150px !important;background-size: contain !important;}
	.anhquatang2{height: 150px !important;background-size: contain !important;}
	.anhquatang3{height: 150px !important;background-size: contain !important;}
	.bstndh{background-size: contain !important;font-size: 25px !important;height: 45px !important;}
	.textbstndh{text-align: justify !important;font-size:17px !important;margin: 30px 10px !important;}
	.anhbstndh1{width: 100% !important;background-size: cover !important;height: 150px !important;}
	.anhbstndh2{width: 100% !important;background-size: contain !important;height: 340px !important;}
	#textthele .text_content h4{font-size: 20px !important;}
	#textthele .text4{width: 98% !important;margin: 10px 1% 0 !important;}
	#textthele .textR p{font-size: 16px !important;}
	#textthele .textL p{font-size: 18px !important;}
	ul.topnav.responsive li a{padding: 0 !important;}
	.tb-row .cell-sp .preTextBst {font: 16px MyriadPro;position: absolute;margin: 10px 0 0 40px;font-style: italic;font-weight: bold;}
	.tb-row .cell-sp:nth-child(2) {border-right: 0;width: 50%;-webkit-transform: rotate(-20deg);transform: rotate(-20deg);position: absolute;margin: -128px 0 0;}
	.tb-row .cell-sp .textBst1 {font: 60px "UTM Silk Script";position: absolute;margin: 0;color: #FA4B74;}
	.tb-row .cell-sp .textBst2 {font: 60px "UTM Silk Script";margin: 40px 0 0 106px;color: #FA4B74;}
	.san_pham_left {margin: 200px 0 0;}
	.tb-row .cell-sp{width:50%;}
	.tb-row .cell-sp:nth-child(2n + 3){border-left: 0;border-right:0;}
	.tb-row .cell-sp:nth-child(4){border-right: 1px solid rgba(158, 158, 158, 0.52);}
	.botheartcover{margin:0;}
	.botheart1{background:url("http://trangsuc.doji.vn/Uploads/Temp/2016/8/12/img-bst-eternal-flames-33-gach-cuoi.png") center top no-repeat;}
	.tb-row .cell-sp .detail h4{height: 38px;}
}

@media only screen
  and (max-device-width: 414px)  {
	#banTrNgh {min-height: 255px !important;}
	ul.topnav li.icon{font-size: 30px !important;}
	ul.topnav li a{font-size: 24px !important;}
	ul.topnav{min-height: 40px !important;}
	#menubsteterf{margin:0 !important;}
	.hoatiet1_banTrNgh{margin: 40px 0 0 !important;min-height: 50px !important;background-size: contain !important;}
	.hoatiet2_banTrNgh{margin: 0 0 40px !important;min-height: 50px !important;background-size: contain !important;}
	.content_banTrNgh_1{font-size:17px !important;}
	.video_eterf{height: 155px !important;}
	.about_eterf{background-size:cover !important;height: 260px !important;}
	.upheart{background-size: contain !important;}
	.midheart{background-size: contain !important;height: 36px !important;}
	.about_eterf_title{font-size:30px !important;width: 60% !important;margin: 0 1% 0 !important;}
	.about_eterf_subtitle{font-size:14px !important;width: 60% !important;margin: 0 1% 0 !important;}
	.about_eterf_content{font-size:12px !important;width: 42% !important;margin: 0 1% 0 !important;}
	.uudai{font-size:30px !important;height: 42px !important;background-size: contain !important;}
	.textuudainoibat{font-size:26px !important;}
	.textuudai{font-size:18px !important;}
	.anhuudai{height: 195px !important;background-size: cover !important;}
	.quatangchucphuc{background-size: contain !important;height: 42px !important;font-size:23px !important;}
	.textquatang{text-align: justify !important;margin: 30px 10px !important;font-size:16px !important;}
	.anhquatang{width:100% !important;margin:0 !important;}
	.rowanhquatang{width:50% !important;font-size:16px !important;}
	.rowanhquatang:last-child{width:100% !important;}
	.anhquatang1{height: 150px !important;background-size: contain !important;}
	.anhquatang2{height: 150px !important;background-size: contain !important;}
	.anhquatang3{height: 150px !important;background-size: contain !important;}
	.bstndh{background-size: contain !important;font-size: 25px !important;height: 45px !important;}
	.textbstndh{text-align: justify !important;font-size:17px !important;margin: 30px 10px !important;}
	.anhbstndh1{width: 100% !important;background-size: cover !important;height: 150px !important;}
	.anhbstndh2{width: 100% !important;background-size: contain !important;height: 310px !important;}
	#textthele .text_content h4{font-size: 20px !important;}
	#textthele .text4{width: 98% !important;margin: 10px 1% 0 !important;}
	#textthele .textR p{font-size: 16px !important;}
	#textthele .textL p{font-size: 18px !important;}
	ul.topnav.responsive li a{padding:0 !important;}
	.tb-row .cell-sp .preTextBst {font: 18px MyriadPro;position: absolute;margin: 20px 22px 0 82px;font-style: italic;font-weight: bold;}
	.tb-row .cell-sp:nth-child(2) {border-right: 0;width: 50%;-webkit-transform: rotate(-20deg);transform: rotate(-20deg);position: absolute;margin: -136px 0 0;}
	.tb-row .cell-sp .textBst1 {font: 78px "UTM Silk Script";position: absolute;margin: 0;color: #FA4B74;}
	.tb-row .cell-sp .textBst2 {font: 78px "UTM Silk Script";margin: 50px 0 0 162px;color: #FA4B74;}
	.san_pham_left {margin: 135px 0 0;}
	.tb-row .cell-sp{width:50%;}
	.tb-row .cell-sp:nth-child(2n + 3){border-left: 0;border-right:0;}
	.tb-row .cell-sp:nth-child(4){border-right: 1px solid rgba(158, 158, 158, 0.52);}
	.botheartcover{margin:0;}
	.botheart1{background:url("http://trangsuc.doji.vn/Uploads/Temp/2016/8/12/img-bst-eternal-flames-33-gach-cuoi.png") center top no-repeat;}
	.tb-row .cell-sp .detail h4{height: 42px;}
	.tb-row .cell-sp .detail h4 a{font-size: 16px;line-height: 1.4em;}
	.tb-row .cell-sp .detail .giaSPEter{font-size: 14px;line-height:1.6em;color:red;}
	.tb-row .cell-sp .detail .textGiaSPEter{font-size: 14px;}
}

@media only screen
  and (max-device-width: 375px) {
	#banTrNgh {min-height: 205px !important;}
	ul.topnav li.icon{font-size: 30px !important;}
	ul.topnav li a{font-size: 24px !important;}
	ul.topnav{min-height: 40px !important;}
	#menubsteterf{margin:0 !important;}
	.hoatiet1_banTrNgh{margin: 40px 0 0 !important;min-height: 50px !important;background-size: contain !important;}
	.hoatiet2_banTrNgh{margin: 0 0 40px !important;min-height: 50px !important;background-size: contain !important;}
	.content_banTrNgh_1{font-size:17px !important;}
	.video_eterf{height: 140px !important;}
	.about_eterf{background-size:cover !important;height: 250px !important;}
	.upheart{background-size: contain !important;}
	.midheart{background-size: contain !important;height: 36px !important;}
	.about_eterf_title{font-size:29px !important;width: 60% !important;margin: 0 1% 0 !important;}
	.about_eterf_subtitle{font-size:14px !important;width: 60% !important;margin: 0 1% 0 !important;}
	.about_eterf_content{font-size:11px !important;width: 42% !important;margin: 0 1% 0 !important;}
	.uudai{font-size:30px !important;height: 42px !important;background-size: contain !important;}
	.textuudainoibat{font-size:26px !important;}
	.textuudai{font-size:17px !important;}
	.anhuudai{height: 150px !important;background-size: cover !important;}
	.quatangchucphuc{background-size: contain !important;height: 42px !important;font-size:23px !important;}
	.textquatang{text-align: justify !important;margin: 30px 10px !important;font-size:16px !important;}
	.anhquatang{width:100% !important;margin:0 !important;}
	.rowanhquatang{width:50% !important;font-size:16px !important;}
	.rowanhquatang:last-child{width:100% !important;}
	.anhquatang1{height: 150px !important;background-size: contain !important;}
	.anhquatang2{height: 150px !important;background-size: contain !important;}
	.anhquatang3{height: 150px !important;background-size: contain !important;}
	.bstndh{background-size: contain !important;font-size: 25px !important;height: 45px !important;}
	.textbstndh{text-align: justify !important;font-size:17px !important;margin: 30px 10px !important;}
	.anhbstndh1{width: 100% !important;background-size: cover !important;height: 120px !important;}
	.anhbstndh2{width: 100% !important;background-size: contain !important;height: 280px !important;}
	#textthele .text_content h4{font-size: 19px !important;}
	#textthele .text4{width: 98% !important;margin: 10px 1% 0 !important;}
	#textthele .textR p{font-size: 16px !important;}
	#textthele .textL p{font-size: 18px !important;}
	ul.topnav.responsive li a{padding:0 !important;}
	.tb-row .cell-sp .preTextBst {font: 16px MyriadPro;position: absolute;margin: 24px 0 0 74px;font-style: italic;font-weight: bold;}
	.tb-row .cell-sp:nth-child(2) {border-right: 0;width: 50%;-webkit-transform: rotate(-20deg);transform: rotate(-20deg);position: absolute;margin: -128px 0 0;}
	.tb-row .cell-sp .textBst1 {font: 78px "UTM Silk Script";position: absolute;margin: 0;color: #FA4B74;}
	.tb-row .cell-sp .textBst2 {font: 78px "UTM Silk Script";margin: 50px 0 0 135px;color: #FA4B74;}
	.san_pham_left {margin: 135px 0 0;}
	.tb-row .cell-sp{width:50%;}
	.tb-row .cell-sp:nth-child(2n + 3){border-left: 0;border-right:0;}
	.tb-row .cell-sp:nth-child(4){border-right: 1px solid rgba(158, 158, 158, 0.52);}
	.botheartcover{margin:0;}
	.botheart1{background:url("http://trangsuc.doji.vn/Uploads/Temp/2016/8/12/img-bst-eternal-flames-33-gach-cuoi.png") center top no-repeat;}
	.tb-row .cell-sp .detail h4{height: 38px;}
}

@media only screen
  and (max-device-width: 320px) {
	#banTrNgh {min-height: 173px !important;background: url("http://trangsuc.doji.vn/Uploads/Temp/2016/8/9/text-eternal-flame.png") 85% 50%/25% no-repeat,url("http://trangsuc.doji.vn/Uploads/Temp/2016/8/9/img-bst-eternal-flames-24.png") center/contain no-repeat !important;}
	ul.topnav li.icon{font-size: 30px !important;height: 40px !important;}
	ul.topnav li a{font-size: 24px !important;padding: 0 !important;}
	ul.topnav{min-height: 40px !important;}
	#menubsteterf{margin:0 !important;}
	.hoatiet1_banTrNgh{margin: 40px 0 0 !important;min-height: 50px !important;background-size: contain !important;}
	.hoatiet2_banTrNgh{margin: 0 0 40px !important;min-height: 50px !important;background-size: contain !important;}
	.content_banTrNgh_1{font-size:16px !important;}
	.video_eterf{height: 117px !important;}
	.about_eterf{background-size:cover !important;height: 250px !important;}
	.upheart{background-size: contain !important;}
	.midheart{background-size: contain !important;height: 36px !important;}
	.about_eterf_title{font-size:29px !important;width: 60% !important;margin: 0 1% 0 !important;}
	.about_eterf_subtitle{font-size:14px !important;width: 60% !important;margin: 0 1% 0 !important;}
	.about_eterf_content{font-size:10px !important;width: 42% !important;margin: 0 1% 0 !important;}
	.uudai{font-size:30px !important;height: 42px !important;background-size: contain !important;}
	.textuudainoibat{font-size:26px !important;}
	.textuudai{font-size:17px !important;}
	.anhuudai{height: 150px !important;background-size: cover !important;}
	.quatangchucphuc{background-size: contain !important;height: 42px !important;font-size:23px !important;}
	.textquatang{text-align: justify !important;margin: 30px 10px !important;font-size:16px !important;}
	.anhquatang{width:100% !important;margin:0 !important;}
	.rowanhquatang{width:50% !important;font-size:16px !important;}
	.rowanhquatang:last-child{width:100% !important;}
	.anhquatang1{height: 150px !important;background-size: contain !important;}
	.anhquatang2{height: 150px !important;background-size: contain !important;}
	.anhquatang3{height: 150px !important;background-size: contain !important;}
	.bstndh{background-size: contain !important;font-size: 25px !important;height: 45px !important;}
	.textbstndh{text-align: justify !important;font-size:17px !important;margin: 30px 10px !important;}
	.anhbstndh1{width: 100% !important;background-size: cover !important;height: 110px !important;}
	.anhbstndh2{width: 100% !important;background-size: contain !important;height: 250px !important;}
	#textthele .text_content h4{font-size: 15px !important;}
	#textthele .text4{width: 98% !important;margin: 10px 1% 0 !important;}
	#textthele .textR p{font-size: 16px !important;}
	#textthele .textL p{font-size: 18px !important;}
	.tb-row .cell-sp .preTextBst {font: 16px MyriadPro;position: absolute;margin: 10px 0 0 40px;font-style: italic;font-weight: bold;}
	.tb-row .cell-sp:nth-child(2) {border-right: 0;width: 50%;-webkit-transform: rotate(-20deg);transform: rotate(-20deg);position: absolute;margin: -128px 0 0;}
	.tb-row .cell-sp .textBst1 {font: 60px "UTM Silk Script";position: absolute;margin: 0;color: #FA4B74;}
	.tb-row .cell-sp .textBst2 {font: 60px "UTM Silk Script";margin: 40px 0 0 130px;color: #FA4B74;}
	.san_pham_left {margin: 135px 0 0;}
	.tb-row .cell-sp{width:50%;}
	.tb-row .cell-sp:nth-child(2n + 3){border-left: 0;border-right:0;}
	.tb-row .cell-sp:nth-child(4){border-right: 1px solid rgba(158, 158, 158, 0.52);}
	.botheartcover{margin:0;}
	.botheart1{background:url("http://trangsuc.doji.vn/Uploads/Temp/2016/8/12/img-bst-eternal-flames-33-gach-cuoi.png") center top no-repeat;}
	.tb-row .cell-sp .detail h4{height: 38px;}
}

/* ----------- HD Screen ----------- */

/* Portrait(d·ªçc) and Landscape(ngang) */
@media only screen 
  and (min-device-width: 1367px) 
  and (max-device-width: 1920px) {

}
@media only screen 
  and (min-device-width: 601px) 
  and (max-device-width: 800px) {

}

@media only screen
  and (max-device-width: 1023px) {
	.topnav_fix{display:none !important;}
	.menubsteterf{background:none !important;}
	.befmenubsteterf{display:none !important;}
	.afmenubsteterf{display:none !important;}
	.topnav{display:block !important;}
	.nav-land-fix{display:none !important;}
	.nav-land-respon{display:block !important;}
}