<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.webServer>
   
	<rewrite>
	  <outboundRules>
	  <!-- 2sic modified: Add cache-control header for requests of type image (30 days) -->
		  <rule name="Add cache-control header to image requests (30 days)">
			<match serverVariable="RESPONSE_Cache-Control" pattern=".*" />
			<conditions>
			  <add input="{RESPONSE_STATUS}" pattern="^200" />
			  <add input="{RESPONSE_CONTENT_TYPE}" pattern="^images/.+" />
			</conditions>
			<action type="Rewrite" value="max-age=31557600"/>
		  </rule>
	  </outboundRules>
	</rewrite>
	</system.webServer>
</configuration>